<header class="theme-main-menu theme-menu-two">
    <div class="main-header-area pt-25 pb-15">
        <div class="container-fluid">
            <div class="row align-items-center justify-content-between">
                <div class="col-md-auto col-6 d-flex align-items-center justify-content-start">
                    <div class="logo-area">
                        <a class="logo" href="/home/">
                            <img src="~/assets/img/logo/header-logo-2.svg" alt="Header-logo">
                        </a>
                        <a class="sticky-logo" href="/home/">
                            <img src="~/assets/img/logo/header-logo-1.svg" alt="Header-logo">
                        </a>
                    </div>
                    <div class="main-menu d-none d-lg-inline-block pl-90">
                        <nav id="mobile-menu">
                            <ul class="menu-list">
                                <li>
                                    <a href="#">Home</a>
                                    <ul class="sub-menu">
                                        <li><a href="/home/">Home Style 1</a></li>
                                        <li><a href="/home/index2">Home Style 2</a></li>
                                        <li><a href="/home/index3">Home Style 3</a></li>
                                        <li><a href="/home/index4">Home Style 4</a></li>
                                        <li><a href="/home/index5">Home Style 5</a></li>
                                        <li><a href="/home/index6">Home Style 6</a></li>
                                        <li><a href="/home/index7">Home Style 7</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Pages</a>
                                    <ul class="sub-menu">
                                        <li><a href="/about">About Us</a></li>
                                        <li>
                                            <a href="#">
                                                Services
                                                <span class="float-end">
                                                    <i class="bi bi-chevron-down"></i>
                                                </span>
                                            </a>
                                            <ul class="sub-menu">
                                                <li><a href="/services">Services V1</a></li>
                                                <li><a href="/services/v2">Services V2</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">
                                                Event
                                                <span class="float-end">
                                                    <i class="bi bi-chevron-down"></i>
                                                </span>
                                            </a>
                                            <ul class="sub-menu">
                                                <li><a href="/event/grid">Event Grid</a></li>
                                                <li><a href="/event/list">Event List</a></li>
                                                <li><a href="/event/details">Event Details</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">
                                                Volunteer
                                                <span class="float-end">
                                                    <i class="bi bi-chevron-down"></i>
                                                </span>
                                            </a>
                                            <ul class="sub-menu">
                                                <li><a href="/team/v1">Volunteer V1</a></li>
                                                <li><a href="/team/v2">Volunteer V2</a></li>
                                                <li><a href="/team/details">Volunteer Details</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="/contact/v2">Contact V2</a></li>
                                        <li><a href="/error">Error - 404</a></li>
                                        <li><a href="/faq">FAQ</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Causes</a>
                                    <ul class="sub-menu">
                                        <li><a href="/causes/grid">Causes Grid</a></li>
                                        <li><a href="/causes/list">Causes List</a></li>
                                        <li><a href="/causes/details">Causes Details</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Blog</a>
                                    <ul class="sub-menu">
                                        <li><a href="/blog/grid">Blog Grid</a></li>
                                        <li><a href="/blog/classic">Blog Classic</a></li>
                                        <li><a href="/blog/details">Blog Details</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="/contact">Contact</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-md-auto col-6">
                    <div class="right-nav d-flex align-items-center justify-content-end">
                        <div class="quote-btn d-lg-inline-block d-none">
                            <a href="/contact" class="ht-btn bs-btn">Donate Now</a>
                        </div>
                        <div class="hamburger-menu d-lg-none d-inline-flex">
                            <div class="open-sidebar">
                                <div class="bar-wrap">
                                    <div class="bar-1"></div>
                                    <div class="bar-2"></div>
                                    <div class="bar-3"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- header-area end -->
<!-- slide-bar start -->
<div class="ht-menu-wrapper">
    <div class="ht-menu-area">
        <button class="ht-menu-toggle">
            <i class="bi bi-x-lg"></i>
        </button>
        <div class="mobile-logo">
            <a href="/home/">
                <img src="~/assets/img/logo/header-logo-2.svg" alt="logo">
            </a>
        </div>
        <div class="mobile-menu-wrapper d-lg-none d-inline-block">
            <div class="mobile-menu"></div>
        </div>
        <div class="offset-widget mb-40">
            <div class="info-widget">
                <h4 class="offset-title mb-20">About Us</h4>
                <p class="mb-30">
                    But I must explain to you how all this mistaken idea of denouncing pleasure and
                    praising pain was born and will give you a complete account of the system and
                    expound the actual teachings of the great explore
                </p>
            </div>
        </div>
        <div class="offset-widget mb-30 pr-10">
            <div class="info-widget info-widget2">
                <h4 class="offset-title mb-20">Contact Info</h4>
                <p>
                    <i class="fal fa-address-book"></i>
                    23/A, Miranda City Likaoli Prikano, Dope
                </p>
                <p>
                    <i class="fal fa-phone"></i>
                    +0989 7876 9865 9
                </p>
                <p>
                    <i class="fal fa-envelope-open"></i>
                    info@example.com
                </p>
            </div>
        </div>
        <div class="login-btn text-center">
            <a class="ht-btn style-5" href="#">Login</a>
        </div>
    </div>
</div>
<!-- side-bar end -->
