<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="keywords"
          content="charity, charity foundation, crowdfunding, donate, donation, foundation, fundraiser, fundraising, fundraising campaign, funds,  ngo, non profit organization, non-profit, volunteer, business html template, company, company agency">
    <meta name="description"
          content="Kuki – is a clean, modern and responsive design that let you to build an exclusive website for charity, charity foundation, crowdfunding, donate, donation, foundation, fundraiser, fundraising, fundraising campaign, funds,  ngo, non profit organization, non-profit, volunteer, business html template, company, company agency websites.">
    <title>Kuki - Charity & Nonprofit HTML5 Template</title>
    <meta property="og:site_name" content="Kuki">
    <meta property="og:url" content="">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Kuki - Charity & Nonprofit HTML5 Template">
    <meta name='og:image' content='images/assets/ogg.png'>
    <!-- For IE -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- For Resposive Device -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- For Window Tab Color -->
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#913BFF">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#913BFF">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#913BFF">

    <!-- <link rel="manifest" href="site.webmanifest" /> -->
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/img/favicon.png" />
    <!-- Place favicon.ico in the root directory -->
    <!-- CSS here -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/assets/fonts/bootstrap-icons.css" />
    <link rel="stylesheet" href="~/assets/css/animate.min.css" />
    <link rel="stylesheet" href="~/assets/css/slick.css" />
    <link rel="stylesheet" href="~/assets/css/magnific-popup.css" />
    <link rel="stylesheet" href="~/assets/css/aos.css" />
    <link rel="stylesheet" href="~/assets/css/supreme.css" />
    <link rel="stylesheet" href="~/assets/css/panchang.css" />
    <link rel="stylesheet" href="~/assets/css/spacing.css" />
    <link rel="stylesheet" href="~/assets/css/main.css" />
    @RenderSection("styles", false)
</head>
<body>
    <div class="main-page-wrapper">
        <!--[if lte IE 9]> <p class="browserupgrade"> You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security. </p> <![endif]-->
        <!-- Add your site or application content here -->
        <!-- preloader start -->
        <div id="preloader">
            <div id="ctn-preloader" class="ctn-preloader">
                <div class="txt-loading">
                    <span data-text-preloader="K" class="letters-loading">
                        K
                    </span>
                    <span data-text-preloader="u" class="letters-loading">
                        u
                    </span>
                    <span data-text-preloader="k" class="letters-loading">
                        k
                    </span>
                    <span data-text-preloader="i" class="letters-loading">
                        i
                    </span>
                </div>
            </div>
        </div>

        @RenderBody()
        <a id="scrollToTopBtn" class="progress-wrap">
            <i class="bi bi-arrow-up"></i>
        </a>
        <!--scrollToTopBtn end-->

    </div>
    <script src="~/assets/js/modernizr-3.5.0.min.js"></script>
    <script src="~/assets/js/jquery-3.5.1.min.js"></script>
    <script src="~/assets/js/popper.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/jquery.meanmenu.js"></script>
    <script src="~/assets/js/slick.min.js"></script>
    <script src="~/assets/js/imagesloaded.pkgd.min.js"></script>
    <script src="~/assets/js/isotope.pkgd.min.js"></script>
    <script src="~/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="~/assets/js/wow.min.js"></script>
    <script src="~/assets/js/aos.js"></script>
    <script src="~/assets/js/jquery.counterup.min.js"></script>
    <script src="~/assets/js/jquery.waypoints.min.js"></script>
    <script src="~/assets/js/jquery.easypiechart.min.js"></script>
    <script src="~/assets/js/jquery-ui.js"></script>

    <!--Custom JS here -->
    <script src="~/assets/js/main.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
