<footer class="footer-two pt-30">
    <img class="shape-2" src="~/assets/img/shape/shape-12.png" alt="shape">
    <img class="shape-3" src="~/assets/img/shape/shape-80.png" alt="shape">
    <div class="container fot-border-2 pt-95">
        <div class="row mb-30">
            <div class="col-xl-3 col-lg-3 col-md-6">
                <div class="footer-widget ht-about-widget mb-30">
                    <div class="footer-logo">
                        <a href="/home/">
                            <img src="~/assets/img/logo/ellis-hope-logo.svg" alt="logo">
                        </a>
                    </div>
                    <ul>
                        <li>
                            <a href="mailto:infocharity816@gmail.com">infocharity816@gmail.com</a>
                        </li>
                        <li>
                            <a href="#">+1 123 456 7890</a>
                        </li>
                    </ul>
                    <div class="social-links">
                        <a href="#"><i class="bi bi-facebook"></i></a>
                        <a href="#"><i class="bi bi-twitter"></i></a>
                        <a href="#"><i class="bi bi-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6">
                <div class="footer-widget ms-xxl-5 mb-30">
                    <h4 class="widget-title">Company</h4>
                    <ul>
                        <li><a href="/about">About us</a></li>
                        <li><a href="/contact">Carrer</a></li>
                        <li><a href="/blog/grid">Blogs</a></li>
                        <li><a href="/about">Testimonial</a></li>
                        <li><a href="/contact">Contact us</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 d-flex justify-content-lg-center">
                <div class="footer-widget mb-30">
                    <h4 class="widget-title">Services</h4>
                    <ul>
                        <li><a href="/about">Donation onlines</a></li>
                        <li><a href="/contact">Donor centers</a></li>
                        <li><a href="/blog/grid">Volunteering</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 d-flex justify-content-lg-end">
                <div class="footer-widget mb-30">
                    <h4 class="widget-title">Donations</h4>
                    <ul>
                        <li><a href="/about">Donor wall</a></li>
                        <li><a href="/contact">Donation confirmation</a></li>
                        <li><a href="/blog/grid">Donation history</a></li>
                        <li><a href="/about">Donations details</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="copyright-wrap">
            <div class="row align-items-center">
                <div class="col-xl-6 col-lg-6">
                    <div class="copyright-text text-lg-start text-center mb-lg-0 mb-md-4">
                        © Copyright 2025
                        <a href="https://themeforest.net/user/creativegigs/portfolio">Kuki</a>. All Rights Reserved.
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 text-xl-end text-center">
                    <ul class="footer-menu">
                        <li><a href="#">Privacy policy.</a></li>
                        <li><a href="#">Contact us.</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
