<header class="theme-main-menu theme-menu-two">
    <div class="main-header-area pt-25 pb-15">
        <div class="container-fluid">
            <div class="row align-items-center justify-content-between">
                <div class="col-md-auto col-6 d-flex align-items-center justify-content-start">
                    <div class="logo-area">
                        <a class="logo" href="/home/">
                            <span class="logo-bg"></span>
                            <img src="~/assets/img/logo/ellis-hope-logo.svg" alt="Header-logo" class="logo-img" />
                        </a>
                        <a class="sticky-logo" href="/home/">
                            <span class="logo-bg"></span>
                            <img src="~/assets/img/logo/ellis-hope-logo.svg" alt="Header-logo" class="logo-img" />
                        </a>
                    </div>
                    <div class="main-menu d-none d-lg-inline-block pl-90">
                        <nav id="mobile-menu">
                            <ul class="menu-list">
                                <li>
                                    <a href="#">About Us</a>
                                    <ul class="sub-menu">
                                        <li><a href="/about">Who We Are</a></li>
                                        <li><a href="/contact">Contact</a></li>
                                    </ul>
                                </li>

                                <li>
                                    <a href="#">What We Do</a>
                                    <ul class="sub-menu">
                                        <li><a href="/services">Services</a></li>
                                        <li><a href="/causes/list">Causes</a></li>
                                    </ul>
                                </li>

                                <li>
                                    <a href="#">Get Involved</a>
                                    <ul class="sub-menu">
                                        <li><a href="/event/list">Events</a></li>
                                        <li><a href="/team/v1">Volunteers</a></li>
                                    </ul>
                                </li>

                                <li>
                                    <a href="#">Resources</a>
                                    <ul class="sub-menu">
                                        <li><a href="/blog/classic">Blog</a></li>
                                        <li><a href="/faq">FAQ</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>

                    </div>
                </div>

                <div class="col-md-auto col-6">
                    <div class="right-nav d-flex align-items-center justify-content-end">
                        <div class="quote-btn d-lg-inline-block d-none">
                            <a href="/contact" class="ht-btn bs-btn">Donate Now</a>
                        </div>
                        <div class="hamburger-menu d-lg-none d-inline-flex">
                            <div class="open-sidebar">
                                <div class="bar-wrap">
                                    <div class="bar-1"></div>
                                    <div class="bar-2"></div>
                                    <div class="bar-3"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</header>

<!-- header-area end -->
<!-- slide-bar start -->
<div class="ht-menu-wrapper">
    <div class="ht-menu-area">
        <button class="ht-menu-toggle">
            <i class="bi bi-x-lg"></i>
        </button>
        <div class="mobile-logo">
            <a href="/home/">
                <img src="~/assets/img/logo/header-logo-2.svg" alt="logo">
            </a>
        </div>
        <div class="mobile-menu-wrapper d-lg-none d-inline-block">
            <div class="mobile-menu"></div>
        </div>
        <div class="offset-widget mb-40">
            <div class="info-widget">
                <h4 class="offset-title mb-20">About Us</h4>
                <p class="mb-30">
                    But I must explain to you how all this mistaken idea of denouncing pleasure and
                    praising pain was born and will give you a complete account of the system and
                    expound the actual teachings of the great explore
                </p>
            </div>
        </div>
        <div class="offset-widget mb-30 pr-10">
            <div class="info-widget info-widget2">
                <h4 class="offset-title mb-20">Contact Info</h4>
                <p>
                    <i class="fal fa-address-book"></i>
                    23/A, Miranda City Likaoli Prikano, Dope
                </p>
                <p>
                    <i class="fal fa-phone"></i>
                    +0989 7876 9865 9
                </p>
                <p>
                    <i class="fal fa-envelope-open"></i>
                    info@example.com
                </p>
            </div>
        </div>
        <div class="login-btn text-center">
            <a class="ht-btn style-5" href="#">Login</a>
        </div>
    </div>
</div>
<!-- side-bar end -->
