// Custom styles for Ellis Hope Foundation
// This file contains customizations made to the template

// Logo customizations
.logo-area {
    position: relative;
    display: flex;
    align-items: center;
}

.logo, .sticky-logo {
    position: relative;
    display: inline-block;
}

.logo-bg {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 68px;
    height: 68px;
    background: $white;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    box-shadow: 0 0 4px rgba(0,0,0,0.04);
}

.logo-img {
    position: relative;
    z-index: 2;
    width: 60px;
    height: 60px;
    display: block;
}
