@{
    ViewBag.Title = "Index7";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header class="theme-main-menu theme-menu-one">
    <div class="main-header-area">
        <div class="container-fluid">
            <div class="row align-items-center justify-content-between">
                <div class="col-md-auto col-6">
                    <div class="logo-area">
                        <a href="/home/">
                            <img src="~/assets/img/logo/header-logo-1.svg" alt="Header-logo">
                        </a>
                    </div>
                </div>
                <div class="col-md-auto d-flex align-items-center justify-content-end d-lg-inline-block d-none">
                    <div class="main-menu d-none d-lg-block">
                        <nav id="mobile-menu">
                            <ul class="menu-list">
                                <li>
                                    <a href="#">
                                        Home
                                    </a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a href="/home/">Home Style 1</a>
                                        </li>
                                        <li>
                                            <a href="/home/index2">Home Style 2</a>
                                        </li>
                                        <li>
                                            <a href="/home/index3">Home Style 3</a>
                                        </li>
                                        <li>
                                            <a href="/home/index4">Home Style 4</a>
                                        </li>

                                        <li>
                                            <a href="/home/index5">Home Style 5</a>
                                        </li>
                                        <li>
                                            <a href="/home/index6">Home Style 6</a>
                                        </li>
                                        <li>
                                            <a href="/home/index7">Home Style 7</a>
                                        </li>

                                    </ul>
                                </li>
                                <li>
                                    <a href="#">
                                        Pages
                                    </a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a href="/about">About Us</a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                Services
                                                <span class="float-end">
                                                    <i class="bi bi-chevron-down"></i>
                                                </span>
                                            </a>
                                            <ul class="sub-menu">
                                                <li>
                                                    <a href="/services">Services V1</a>
                                                </li>
                                                <li>
                                                    <a href="/services/v2">Services V2</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">
                                                Event
                                                <span class="float-end">
                                                    <i class="bi bi-chevron-down"></i>
                                                </span>
                                            </a>
                                            <ul class="sub-menu">
                                                <li>
                                                    <a href="/event/grid">Event Grid</a>
                                                </li>
                                                <li>
                                                    <a href="/event/list">Event List</a>
                                                </li>
                                                <li>
                                                    <a href="/event/details">Event Details</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">
                                                Volunteer
                                                <span class="float-end">
                                                    <i class="bi bi-chevron-down"></i>
                                                </span>
                                            </a>
                                            <ul class="sub-menu">
                                                <li>
                                                    <a href="/team/v1">Volunteer V1</a>
                                                </li>
                                                <li>
                                                    <a href="/team/v2">Volunteer V2</a>
                                                </li>
                                                <li>
                                                    <a href="/team/details">Volunteer Details</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="/contact/v2">Contact V2</a>
                                        </li>
                                        <li>
                                            <a href="/error">Error - 404</a>
                                        </li>
                                        <li>
                                            <a href="/faq">FAQ</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Causes</a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a href="/causes/grid">Causes Grid</a>
                                        </li>
                                        <li>
                                            <a href="/causes/list">Causes List</a>
                                        </li>
                                        <li>
                                            <a href="/causes/details">Causes Details</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Blog</a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a href="/blog/grid">Blog Grid</a>
                                        </li>
                                        <li>
                                            <a href="/blog/classic">Blog Classic</a>
                                        </li>
                                        <li>
                                            <a href="/blog/details">Blog Details</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="/contact">Contact</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-md-auto col-6">
                    <div class="right-nav d-flex align-items-center justify-content-end">
                        <div class="quote-btn d-lg-inline-block d-none">
                            <a href="/contact" class="ht-btn bs-btn">Donate Now</a>
                        </div>
                        <div class="hamburger-menu ms-0 d-lg-none d-md-inline-flex">
                            <div class="bar-wrap">
                                <div class="bar-1"></div>
                                <div class="bar-2"></div>
                                <div class="bar-3"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.theme-main-menu -->
</header>
<!-- header-area end -->
<!-- slide-bar start -->
<div class="ht-menu-wrapper">
    <div class="ht-menu-area">
        <button class="ht-menu-toggle">
            <i class="bi bi-x-lg"></i>
        </button>
        <div class="mobile-logo">
            <a href="/home/">
                <img src="~/assets/img/logo/header-logo-2.svg" alt="logo">
            </a>
        </div>
        <div class="mobile-menu-wrapper d-lg-none d-inline-block">
            <div class="mobile-menu"></div>
        </div>
        <div class="offset-widget mb-40">
            <div class="info-widget">
                <h4 class="offset-title mb-20">About Us</h4>
                <p class="mb-30">
                    But I must explain to you how all this mistaken idea of denouncing pleasure and
                    praising pain was born and will give you a complete account of the system and
                    expound the actual teachings of the great explore
                </p>
            </div>
        </div>
        <div class="offset-widget mb-30 pr-10">
            <div class="info-widget info-widget2">
                <h4 class="offset-title mb-20">Contact Info</h4>
                <p>
                    <i class="fal fa-address-book"></i>
                    23/A, Miranda City Likaoli Prikano, Dope
                </p>
                <p>
                    <i class="fal fa-phone"></i>
                    +0989 7876 9865 9
                </p>
                <p>
                    <i class="fal fa-envelope-open"></i>
                    info@example.com
                </p>
            </div>
        </div>
        <div class="login-btn text-center">
            <a class="ht_btn w-100" href="#">Login</a>
        </div>

    </div>
</div>
<!-- side-bar end -->


<main>
<!-- theme-banner-one start -->
<section class="theme-banner-one" data-background="/assets/img/hero/hero-img-1.jpg">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-xl-6 col-lg-8">
                <div class="hero-content">
                    <h1 class="main-title wow fadeInUp">Help Children, Change the World.</h1>
                    <p class="description wow fadeInUp" data-wow-delay="0.1">
                        Show love and care, supporting
                        the children in their journey with
                        kindness and
                        compassion.
                    </p>
                    <div class="d-md-flex align-items-center wow fadeInUp" data-wow-delay="0.2">
                        <a href="/contact" class="ht-btn bstyle">Support Us</a>
                        <a href="#" class="ht-btn bstyle-2 d-none d-xl-inline-block">Check Our Causes</a>
                    </div>
                </div>
            </div>
            <div class="hero-counter row row-cols-lg-2 row-cols-md-2 row-cols-1 justify-content-between wow fadeIn"
                 data-wow-delay="0.1">
                <div class="col counter-box-1">
                    <h3 class="number"><span class="number">53,2794</span>+</h3>
                    <p class="counter-title">Monthly donors</p>
                </div>
                <div class="col counter-box-2">
                    <h3 class="number">
                        <span class="number">500</span>
                    </h3>
                    <p class="counter-title">Total members</p>
                </div>
            </div>
        </div>
    </div><!-- .container -->
</section>
<!-- theme-banner-one end -->
<!-- about-section start -->
<section class="about-section-one pt-180 pb-30 pt-lg-60 pb-lg-15">
    <img class="shape-1" src="~/assets/img/shape/shape-2.png" alt="shape">
    <img class="shape-2" src="~/assets/img/shape/shape-4.png" alt="shape">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-6 col-lg-6">
                <div class="img-wrapper-one position-relative mb-45 wow fadeInLeft">
                    <img class="main-img-2 img-fluid" src="~/assets/img/media/media-2.jpg" alt="About">
                    <img class="main-img img-fluid" src="~/assets/img/media/media-1.jpg" alt="About">
                    <div class="float-content-1">
                        <div class="content">
                            <p class="text-title">People contribute<br/> our charity.</p>
                        </div>
                        <div class="chart" data-percent="90">
                            <span>90%</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <div class="text-wrapper-one mb-45 wow fadeInRight">
                    <div class="title-one mb-40">
                        <h5 class="sub-title">Welcome</h5>
                        <h2 class="title">
                            A place dedicated
                            <span class="position-relative">
                                to <img class="title-img" src="~/assets/img/shape/shape-3.png" alt="shape">
                            </span>
                            offering assistance.
                        </h2>
                        <p>
                            Step into our sanctuary, where compassionate hands eagerly await to offer support
                            and aid.
                        </p>
                    </div>
                    <div class="feature-list-one mb-15">
                        <span class="icon">
                            <img src="~/assets/img/icon/icon-1.png" alt="icon">
                        </span>
                        <span class="feature-title">Advocate for children's healthcare accessibility.</span>
                    </div>
                    <div class="feature-list-one mb-15">
                        <span class="icon">
                            <img src="~/assets/img/icon/icon-2.png" alt="icon">
                        </span>
                        <span class="feature-title">Renovation of numerous homes completed.</span>
                    </div>
                    <div class="feature-list-one">
                        <span class="icon">
                            <img src="~/assets/img/icon/icon-3.png" alt="icon">
                        </span>
                        <span class="feature-title">send us donation every countrys</span>
                    </div>
                    <div class="d-flex align-items-center justify-content-between mt-60">
                        <div class="author-content">
                            <h4 class="fs-22 fw-medium mb-0">Cameron Williamson</h4>
                            <p class="text-uppercase">founder</p>
                        </div>
                        <div class="signature">
                            <img src="~/assets/img/shape/shape-1.png" alt="signature">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- about-section end -->
<!-- support-section start -->
<section class="support-section pt-90 pb-30 pt-lg-60 pb-lg-15">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="title-one text-center mb-70">
                    <h5 class="sub-title wow fadeInUp">support us</h5>
                    <h2 class="title wow fadeInUp" data-wow-delay="0.1">
                        A unique charity
                        <span class="position-relative">
                            creating
                            <img class="title-img"
                                 src="~/assets/img/shape/shape-3.png" alt="shape">
                        </span>
                        change.
                    </h2>
                    <p class="wow fadeInUp" data-wow-delay="0.2">
                        Welcome to our transformative charity,
                        where innovation meets purpose
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid px-lg-0">
        <div class="row gx-lg-0 align-items-center">
            <div class="col-lg-4">
                <div class="feature-wrap-1 wow fadeInUp" data-wow-delay="0.3"
                     data-background="/assets/img/media/media-3.jpg">
                    <h3 class="feature-title">
                        Donate for Every Children
                        Health
                    </h3>
                    <a href="contant.html" class="icon">
                        <img src="~/assets/img/icon/arrow-1.svg"
                             alt="arrow">
                    </a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="feature-wrap-2 wow fadeInUp" data-wow-delay="0.4"
                     data-background="/assets/img/media/media-4.jpg">
                    <h3 class="feature-title">Help us to Educate the Poor Children</h3>
                    <a href="contant.html" class="icon">
                        <img src="~/assets/img/icon/arrow-1.svg"
                             alt="arrow">
                    </a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="feature-wrap-3 wow fadeInUp" data-wow-delay="0.5"
                     data-background="/assets/img/media/media-5.jpg">
                    <h3 class="feature-title">
                        Help us to feed the
                        Poor Children
                    </h3>
                    <a href="contant.html" class="icon">
                        <img src="~/assets/img/icon/arrow-1.svg"
                             alt="arrow">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- support-section end -->
<!-- brand-section start -->
<div class="brand-wrap-1 pb-80 pt-110 wow fadeInUp">
    <div class="container px-0">
        <div class="brand-slide-wrapper ht-carousel" data-slide-show="4" data-lg-slide-show="3"
             data-md-slide-show="3" data-sm-slide-show="2">
            <div class="brand-item">
                <a href="#">
                    <img src="~/assets/img/brand/brand-1.svg" alt="brand">
                </a>
            </div>
            <div class="brand-item">
                <a href="#">
                    <img src="~/assets/img/brand/brand-2.svg" alt="brand">
                </a>
            </div>
            <div class="brand-item">
                <a href="#">
                    <img src="~/assets/img/brand/brand-3.svg" alt="brand">
                </a>
            </div>
            <div class="brand-item">
                <a href="#">
                    <img src="~/assets/img/brand/brand-4.svg" alt="brand">
                </a>
            </div>
            <div class="brand-item">
                <a href="#">
                    <img src="~/assets/img/brand/brand-1.svg" alt="brand">
                </a>
            </div>
            <div class="brand-item">
                <a href="#">
                    <img src="~/assets/img/brand/brand-2.svg" alt="brand">
                </a>
            </div>
        </div>
    </div>
</div>
<!-- brand-section end -->
<!-- cause-section start -->
<section class="cause-section position-relative z-2 pt-140 pb-30 pt-lg-60 pb-lg-15">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7">
                <div class="title-one text-md-start text-center mb-70 wow fadeInLeft">
                    <h5 class="sub-title">causes</h5>
                    <h2 class="title">
                        Small donations
                        <span class="position-relative">
                            make <img class="title-img" src="~/assets/img/shape/shape-3.png" alt="shape">
                        </span>
                        big impacts.
                    </h2>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="arrow-style-1 d-flex align-items-center justify-content-lg-end justify-content-center wow fadeInRight">
                    <button data-slick-prev="#arrow-1" class="slick-prev">
                        <img src="~/assets/img/icon/arrow-left-1.svg" alt="arrow">
                    </button>
                    <button data-slick-next="#arrow-1" class="slick-next">
                        <img src="~/assets/img/icon/arrow-right-1.svg" alt="arrow">
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="cause-slider-one">
        <div id="arrow-1" class="row ht-carousel" data-slide-show="4" data-ml-slide-show="3"
             data-lg-slide-show="3" data-md-slide-show="2" data-sm-slide-show="1">
            <div class="col-lg-3">
                <div class="causes-wrap-1">
                    <div class="cause-thumb">
                        <img src="~/assets/img/cause/img-1.jpg" alt="cause">
                        <div class="cause-tag">children</div>
                    </div>
                    <div class="cause-content">
                        <h3 class="cause-title">
                            <a href="/causes/details">
                                Providing education for
                                better
                                futures.
                            </a>
                        </h3>
                        <p class="description">
                            Unlocking the doors to a brighter tomorrow, we are education
                            for
                            all.
                        </p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="64"
                                 aria-valuemin="0" aria-valuemax="100">
                                <span class="progress-value">64%</span>
                            </div>
                        </div>
                        <div class="fund-wrap d-flex align-items-center justify-content-between">
                            <h5 class="fund"><span>Goal:</span> $76,000</h5>
                            <h5 class="fund"><span>Goal:</span> $76,000</h5>
                        </div>
                        <a href="/causes/details" class="donation-btn">Donate Now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="causes-wrap-1 cs-style-2">
                    <div class="cause-thumb">
                        <img src="~/assets/img/cause/img-2.jpg" alt="cause">
                        <div class="cause-tag">children</div>
                    </div>
                    <div class="cause-content">
                        <h3 class="cause-title">
                            <a href="/causes/details">
                                Small assistance,
                                significant
                                impact.
                            </a>
                        </h3>
                        <p class="description">
                            Unlocking the doors to a brighter tomorrow, we are education
                            for
                            all.
                        </p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="72"
                                 aria-valuemin="0" aria-valuemax="100">
                                <span class="progress-value">72%</span>
                            </div>
                        </div>
                        <div class="fund-wrap d-flex align-items-center justify-content-between">
                            <h5 class="fund"><span>Goal:</span> $76,000</h5>
                            <h5 class="fund"><span>Goal:</span> $76,000</h5>
                        </div>
                        <a href="/causes/details" class="donation-btn">Donate Now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="causes-wrap-1 cs-style-3">
                    <div class="cause-thumb">
                        <img src="~/assets/img/cause/img-3.jpg" alt="cause">
                        <div class="cause-tag">children</div>
                    </div>
                    <div class="cause-content">
                        <h3 class="cause-title">
                            <a href="/causes/details">
                                A small hand, far-reaching
                                reach.
                            </a>
                        </h3>
                        <p class="description">
                            Unlocking the doors to a brighter tomorrow, we are education
                            for
                            all.
                        </p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="86"
                                 aria-valuemin="0" aria-valuemax="100">
                                <span class="progress-value">86%</span>
                            </div>
                        </div>
                        <div class="fund-wrap d-flex align-items-center justify-content-between">
                            <h5 class="fund"><span>Goal:</span> $76,000</h5>
                            <h5 class="fund"><span>Goal:</span> $76,000</h5>
                        </div>
                        <a href="/causes/details" class="donation-btn">Donate Now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="causes-wrap-1">
                    <div class="cause-thumb">
                        <img src="~/assets/img/cause/img-1.jpg" alt="cause">
                        <div class="cause-tag">children</div>
                    </div>
                    <div class="cause-content">
                        <h3 class="cause-title">
                            <a href="/causes/details">
                                A small hand, far-reaching
                                reach.
                            </a>
                        </h3>
                        <p class="description">
                            Unlocking the doors to a brighter tomorrow, we are education
                            for
                            all.
                        </p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="64"
                                 aria-valuemin="0" aria-valuemax="100">
                                <span class="progress-value">64%</span>
                            </div>
                        </div>
                        <div class="fund-wrap d-flex align-items-center justify-content-between">
                            <h5 class="fund"><span>Goal:</span> $76,000</h5>
                            <h5 class="fund"><span>Goal:</span> $76,000</h5>
                        </div>
                        <a href="/causes/details" class="donation-btn">Donate Now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="causes-wrap-1 cs-style-2">
                    <div class="cause-thumb">
                        <img src="~/assets/img/cause/img-2.jpg" alt="cause">
                        <div class="cause-tag">children</div>
                    </div>
                    <div class="cause-content">
                        <h3 class="cause-title">
                            <a href="/causes/details">
                                Small assistance,
                                significant
                                impact.
                            </a>
                        </h3>
                        <p class="description">
                            Unlocking the doors to a brighter tomorrow, we are education
                            for
                            all.
                        </p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="72"
                                 aria-valuemin="0" aria-valuemax="100">
                                <span class="progress-value">72%</span>
                            </div>
                        </div>
                        <div class="fund-wrap d-flex align-items-center justify-content-between">
                            <h5 class="fund"><span>Goal:</span> $76,000</h5>
                            <h5 class="fund"><span>Goal:</span> $76,000</h5>
                        </div>
                        <a href="/causes/details" class="donation-btn">Donate Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- cause-section end -->
<!-- service-section start -->
<section class="service-section pb-145 pb-lg-30" data-background="/assets/img/bg/bg-1.png">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="title-one text-md-start text-center mb-70 wow fadeInUp">
                    <h5 class="sub-title">Donation</h5>
                    <h2 class="title">
                        World
                        <span class="position-relative">
                            unites
                            <img class="title-img"
                                 src="~/assets/img/shape/shape-3.png" alt="shape">
                        </span> through altruism.
                    </h2>
                    <p>
                        Facilitating collaboration among nonprofits, donors, and businesses on a
                        global
                        scale.
                    </p>
                    <a class="ht-btn mt-20" href="/contact">donate now</a>

                    <div class="shape-img mt-240 pl-70 d-none d-xl-block">
                        <img src="~/assets/img/shape/shape-2.png" alt="shape">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="service-wrap-1 d-lg-flex ">
                    <div class="icon">
                        <img src="~/assets/img/icon/icon-4.svg" alt="icon">
                    </div>
                    <div class="service-content">
                        <h3 class="service-title">
                            <a href="#">Fresh water</a>
                        </h3>
                        <p>Freshwater is the elixir of life, sustaining ecosystems, communities.</p>
                    </div>
                </div>
                <div class="service-wrap-1 d-lg-flex ">
                    <div class="icon">
                        <img src="~/assets/img/icon/icon-5.svg" alt="icon">
                    </div>
                    <div class="service-content">
                        <h3 class="service-title">
                            <a href="#">Medical Services</a>
                        </h3>
                        <p>School education forms the bedrock of knowledge fostering.</p>
                    </div>
                </div>
                <div class="service-wrap-1 d-lg-flex ">
                    <div class="icon">
                        <img src="~/assets/img/icon/icon-6.svg" alt="icon">
                    </div>
                    <div class="service-content">
                        <h3 class="service-title">
                            <a href="#">Healthy Food</a>
                        </h3>
                        <p>Beyond the physical benefits, healthy food contributes.</p>
                    </div>
                </div>
                <div class="service-wrap-1 d-lg-flex ">
                    <div class="icon">
                        <img src="~/assets/img/icon/icon-7.svg" alt="icon">
                    </div>
                    <div class="service-content">
                        <h3 class="service-title">
                            <a href="#">School Education</a>
                        </h3>
                        <p>School education forms the bedrock of knowledge fostering social.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- service-section end -->
<!-- ht-blog-section start -->
<section class="ht-blog-section pt-170 pb-95 pt-lg-60 pb-lg-60">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-8">
                <div class="title-one text-center mb-70">
                    <h5 class="sub-title wow fadeInUp">Blogs</h5>
                    <h2 class="title px-xxl-5 wow fadeInUp" data-wow-delay="0.1">
                        latest update of
                        <span class="position-relative">
                            our
                            <img class="title-img"
                                 src="~/assets/img/shape/shape-3.png" alt="shape">
                        </span>
                        charity
                    </h2>
                    <p class="wow fadeInUp" data-wow-delay="0.2">
                        Through your generosity, we've successfully
                        a recent initiative or project
                    </p>
                </div>
            </div>
        </div>
        <div class="row align-items-center ht-carousel" data-slide-show="3" data-lg-slide-show="2"
             data-md-slide-show="2" data-sm-slide-show="1" data-dots="true">
            <div class="col-xl-4 col-lg-6">
                <div class="blog-one">
                    <div class="blog-thumb mb-lg-0 mb-4">
                        <a href="/blog/details" class="blog-tag">House Cleaning</a>
                        <img src="~/assets/img/blog/blog-1.jpg" alt="blog">
                    </div>
                    <div class="blog-content d-md-flex align-items-center">
                        <div class="inner-content">
                            <h3 class="blog-title">
                                <a href="/blog/details">
                                    Joy blooms in giving
                                    transformation.
                                </a>
                            </h3>
                            <div class="blog-meta">
                                <a href="/blog/details">Date: 29 Jan 2021</a>
                                <span class="divider"></span>
                                <a href="/blog/details">Comments: (5)</a>
                            </div>
                        </div>
                        <div class="btn-wrap">
                            <a href="/blog/details" class="blog-btn">
                                <img src="~/assets/img/icon/arrow-right-1.svg" alt="arrow">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6">
                <div class="blog-one">
                    <div class="blog-thumb mb-lg-0 mb-4">
                        <a href="/blog/details" class="blog-tag">House Cleaning</a>
                        <img src="~/assets/img/blog/blog-2.jpg" alt="blog">
                    </div>
                    <div class="blog-content d-md-flex align-items-center">
                        <div class="inner-content">
                            <h3 class="blog-title">
                                <a href="/blog/details">
                                    These trees have been admired
                                    centuries.
                                </a>
                            </h3>
                            <div class="blog-meta">
                                <a href="/blog/details">Date: 29 Jan 2021</a>
                                <span class="divider"></span>
                                <a href="/blog/details">Comments: (5)</a>
                            </div>
                        </div>
                        <div class="btn-wrap">
                            <a href="/blog/details" class="blog-btn">
                                <img src="~/assets/img/icon/arrow-right-1.svg" alt="arrow">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6">
                <div class="blog-one">
                    <div class="blog-thumb mb-lg-0 mb-4">
                        <a href="/blog/details" class="blog-tag">House Cleaning</a>
                        <img src="~/assets/img/blog/blog-3.jpg" alt="blog">
                    </div>
                    <div class="blog-content d-md-flex align-items-center">
                        <div class="inner-content">
                            <h3 class="blog-title">
                                <a href="/blog/details">
                                    Love for children is a beacon
                                    of hope.
                                </a>
                            </h3>
                            <div class="blog-meta">
                                <a href="/blog/details">Date: 29 Jan 2021</a>
                                <span class="divider"></span>
                                <a href="/blog/details">Comments: (5)</a>
                            </div>
                        </div>
                        <div class="btn-wrap">
                            <a href="/blog/details" class="blog-btn">
                                <img src="~/assets/img/icon/arrow-right-1.svg" alt="arrow">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6">
                <div class="blog-one">
                    <div class="blog-thumb mb-lg-0 mb-4">
                        <a href="/blog/details" class="blog-tag">House Cleaning</a>
                        <img src="~/assets/img/blog/blog-1.jpg" alt="blog">
                    </div>
                    <div class="blog-content d-md-flex align-items-center">
                        <div class="inner-content">
                            <h3 class="blog-title">
                                <a href="/blog/details">
                                    Joy blooms in giving
                                    transformation.
                                </a>
                            </h3>
                            <div class="blog-meta">
                                <a href="/blog/details">Date: 29 Jan 2021</a>
                                <span class="divider"></span>
                                <a href="/blog/details">Comments: (5)</a>
                            </div>
                        </div>
                        <div class="btn-wrap">
                            <a href="/blog/details" class="blog-btn">
                                <img src="~/assets/img/icon/arrow-right-1.svg" alt="arrow">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6">
                <div class="blog-one">
                    <div class="blog-thumb mb-lg-0 mb-4">
                        <a href="/blog/details" class="blog-tag">House Cleaning</a>
                        <img src="~/assets/img/blog/blog-2.jpg" alt="blog">
                    </div>
                    <div class="blog-content d-md-flex align-items-center">
                        <div class="inner-content">
                            <h3 class="blog-title">
                                <a href="/blog/details">
                                    These trees have been admired
                                    centuries.
                                </a>
                            </h3>
                            <div class="blog-meta">
                                <a href="/blog/details">Date: 29 Jan 2021</a>
                                <span class="divider"></span>
                                <a href="/blog/details">Comments: (5)</a>
                            </div>
                        </div>
                        <div class="btn-wrap">
                            <a href="/blog/details" class="blog-btn">
                                <img src="~/assets/img/icon/arrow-right-1.svg" alt="arrow">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- ht-blog-section end -->
<!-- feedback-section start -->
<div class="feedback-section position-relative z-2 pt-100 pt-lg-20 pb-100 pb-lg-20">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="title-one text-lg-start text-center mb-70 mb-lg-30">
                    <h5 class="sub-title">testimonial</h5>
                    <h2 class="title">
                        Volunteer
                        <span class="position-relative">
                            smiles
                            <img class="title-img" src="~/assets/img/shape/shape-3.png"
                                 alt="shape">
                        </span>shared stories
                    </h2>
                    <p>
                        Their voices, filled with passion and empathy
                        the narrative and transformation.
                    </p>
                    <div class="ilustration-shape pt-60  d-none d-xxl-block">
                        <img src="~/assets/img/ilustration/ilus-1.png" alt="shape">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 ht-carousel" data-autoplay-speed="2000" data-speed="1000"
                 data-vertical="true" data-slide-show="3" data-ml-slide-show="2" data-lg-slide-show="1"
                 data-md-slide-show="1" data-sm-slide-show="1">
                <div class="feedback-wrap-1">
                    <div class="content">
                        <img class="author" src="~/assets/img/media/media-6.jpg" alt="author">
                        <p class="feedback-text">
                            "I'm always eager to participate in charity events they've
                            offered me invaluable experiences, taking places"
                        </p>
                        <h5 class="name">Rohan Chowdhury</h5>
                        <p class="designation">Designer</p>
                    </div>
                </div>
                <div class="feedback-wrap-1 fdstyle-2">
                    <div class="content">
                        <img class="author" src="~/assets/img/media/media-7.jpg" alt="author">
                        <p class="feedback-text">
                            "I'm always eager to participate in charity events they've
                            offered me invaluable experiences, taking places"
                        </p>
                        <h5 class="name">Martin Moor</h5>
                        <p class="designation">Marketter</p>
                    </div>
                </div>
                <div class="feedback-wrap-1 fdstyle-3">
                    <div class="content">
                        <img class="author" src="~/assets/img/media/media-8.jpg" alt="author">
                        <p class="feedback-text">
                            "I'm always eager to participate in charity events they've
                            offered me invaluable experiences, taking places"
                        </p>
                        <h5 class="name">Rodela Jahan</h5>
                        <p class="designation">Developer</p>
                    </div>
                </div>
                <div class="feedback-wrap-1">
                    <div class="content">
                        <img class="author" src="~/assets/img/media/media-6.jpg" alt="author">
                        <p class="feedback-text">
                            "I'm always eager to participate in charity events they've
                            offered me invaluable experiences, taking places"
                        </p>
                        <h5 class="name">Rohan Chowdhury</h5>
                        <p class="designation">Designer</p>
                    </div>
                </div>
                <div class="feedback-wrap-1 fdstyle-2">
                    <div class="content">
                        <img class="author" src="~/assets/img/media/media-7.jpg" alt="author">
                        <p class="feedback-text">
                            "I'm always eager to participate in charity events they've
                            offered me invaluable experiences, taking places"
                        </p>
                        <h5 class="name">Martin Moor</h5>
                        <p class="designation">Marketter</p>
                    </div>
                </div>
                <div class="feedback-wrap-1 fdstyle-3">
                    <div class="content">
                        <img class="author" src="~/assets/img/media/media-8.jpg" alt="author">
                        <p class="feedback-text">
                            "I'm always eager to participate in charity events they've
                            offered me invaluable experiences, taking places"
                        </p>
                        <h5 class="name">Rodela Jahan</h5>
                        <p class="designation">Developer</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- feedback-section end -->

</main>


<!--footer-area start-->
<div class="footer-wrapper-one" data-background="/assets/img/bg/bg-2.png">
    <!-- newsletter-section start -->
    <div class="newsletter-section">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="title-one">
                        <h2 class="title text-white">Subscribe to Regular Newsletters.</h2>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="subscribe-form sub-form-1 text-lg-end">
                        <input type="text" placeholder="Enter Your Mail">
                        <button type="submit">Subscribe</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- newsletter-section end -->
    <footer class="footer-one pt-125 pt-lg-60">
        <img class="shape-1" src="~/assets/img/shape/shape-5.png" alt="shape">
        <div class="container">
            <div class="row mb-30">
                <div class="col-xl-3 col-lg-3 col-md-6">
                    <div class="footer-widget ht-about-widget mb-30">
                        <div class="footer-logo">
                            <a href="/home/">
                                <img src="~/assets/img/logo/header-logo-2.svg" alt="logo">
                            </a>
                        </div>
                        <ul>
                            <li>
                                <a href="mailto:infocharity816@gmail.com">infocharity816@gmail.com</a>
                            </li>
                            <li>
                                <a href="#">+1 123 456 7890</a>
                            </li>
                        </ul>
                        <div class="social-links">
                            <a href="#">
                                <i class="bi bi-facebook"></i>
                            </a>
                            <a href="#">
                                <i class="bi bi-twitter"></i>
                            </a>
                            <a href="#">
                                <i class="bi bi-instagram"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6">
                    <div class="footer-widget ms-xxl-5 mb-30">
                        <h4 class="widget-title">Company</h4>
                        <ul>
                            <li>
                                <a href="/about">About us</a>
                            </li>
                            <li>
                                <a href="/contact">Carrer</a>
                            </li>
                            <li>
                                <a href="/blog/grid">Blogs</a>
                            </li>
                            <li>
                                <a href="/about">Testimonial</a>
                            </li>
                            <li>
                                <a href="/contact">Contact us</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 d-flex justify-content-lg-center">
                    <div class="footer-widget mb-30">
                        <h4 class="widget-title">Services</h4>
                        <ul>
                            <li>
                                <a href="/about">Donation onlines</a>
                            </li>
                            <li>
                                <a href="/contact">Donor centers</a>
                            </li>
                            <li>
                                <a href="/blog/grid">Volunteering</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 d-flex justify-content-lg-end">
                    <div class="footer-widget mb-30">
                        <h4 class="widget-title">Donations</h4>
                        <ul>
                            <li>
                                <a href="/about">Donor wall</a>
                            </li>
                            <li>
                                <a href="/contact">Donation confirmation</a>
                            </li>
                            <li>
                                <a href="/blog/grid">Donation history</a>
                            </li>
                            <li>
                                <a href="/about">Donations details</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-wrap">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-6 col-lg-6">
                        <div class="copyright-text text-lg-start text-center pt-40 pb-lg-5 pb-4">
                            © Copyright 2025
                            <a href="https://themeforest.net/user/creativegigs/portfolio">
                                Kuki
                            </a>. All
                            Rights Reserved.
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 text-xl-end text-center">
                        <ul class="footer-menu">
                            <li>
                                <a href="#">Privacy policy.</a>
                            </li>
                            <li>
                                <a href="#">Contact us.</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>