@{
    ViewBag.Title = "Index5";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header class="theme-main-menu theme-menu-four">
    <div class="main-header-area">
        <div class="container-fluid">
            <div class="row align-items-center justify-content-between">
                <div class="col-md-auto col-6">
                    <div class="logo-area">
                        <a class="logo" href="/home/">
                            <img src="~/assets/img/logo/header-logo-1.svg"
                                 alt="Header-logo">
                        </a>
                        <a class="sticky-logo" href="/home/">
                            <img src="~/assets/img/logo/header-logo-2.svg"
                                 alt="Header-logo">
                        </a>
                    </div>
                </div>
                <div class="col-md-auto d-flex align-items-center justify-content-end d-lg-inline-block d-none">
                    <div class="main-menu d-none d-lg-block">
                        <nav id="mobile-menu">
                            <ul class="menu-list">
                                <li>
                                    <a href="#">
                                        Home
                                    </a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a href="/home/">Home Style 1</a>
                                        </li>
                                        <li>
                                            <a href="/home/index2">Home Style 2</a>
                                        </li>
                                        <li>
                                            <a href="/home/index3">Home Style 3</a>
                                        </li>
                                        <li>
                                            <a href="/home/index4">Home Style 4</a>
                                        </li>

                                        <li>
                                            <a href="/home/index5">Home Style 5</a>
                                        </li>
                                        <li>
                                            <a href="/home/index6">Home Style 6</a>
                                        </li>
                                        <li>
                                            <a href="/home/index7">Home Style 7</a>
                                        </li>

                                    </ul>
                                </li>
                                <li>
                                    <a href="#">
                                        Pages
                                    </a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a href="/about">About Us</a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                Services
                                                <span class="float-end">
                                                    <i class="bi bi-chevron-down"></i>
                                                </span>
                                            </a>
                                            <ul class="sub-menu">
                                                <li>
                                                    <a href="/services">Services V1</a>
                                                </li>
                                                <li>
                                                    <a href="/services/v2">Services V2</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">
                                                Event
                                                <span class="float-end">
                                                    <i class="bi bi-chevron-down"></i>
                                                </span>
                                            </a>
                                            <ul class="sub-menu">
                                                <li>
                                                    <a href="/event/grid">Event Grid</a>
                                                </li>
                                                <li>
                                                    <a href="/event/list">Event List</a>
                                                </li>
                                                <li>
                                                    <a href="/event/details">Event Details</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">
                                                Volunteer
                                                <span class="float-end">
                                                    <i class="bi bi-chevron-down"></i>
                                                </span>
                                            </a>
                                            <ul class="sub-menu">
                                                <li>
                                                    <a href="/team/v1">Volunteer V1</a>
                                                </li>
                                                <li>
                                                    <a href="/team/v2">Volunteer V2</a>
                                                </li>
                                                <li>
                                                    <a href="/team/details">Volunteer Details</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="/contact/v2">Contact V2</a>
                                        </li>
                                        <li>
                                            <a href="/error">Error - 404</a>
                                        </li>
                                        <li>
                                            <a href="/faq">FAQ</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Causes</a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a href="/causes/grid">Causes Grid</a>
                                        </li>
                                        <li>
                                            <a href="/causes/list">Causes List</a>
                                        </li>
                                        <li>
                                            <a href="/causes/details">Causes Details</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Blog</a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a href="/blog/grid">Blog Grid</a>
                                        </li>
                                        <li>
                                            <a href="/blog/classic">Blog Classic</a>
                                        </li>
                                        <li>
                                            <a href="/blog/details">Blog Details</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="/contact">Contact</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-md-auto col-6">
                    <div class="right-nav d-flex align-items-center justify-content-end">
                        <div class="quote-btn d-xl-inline-block d-none">
                            <a href="" class="ht-btn bs-btn">Join Volunteer</a>
                        </div>
                        <div class="hamburger-menu d-lg-none d-inline-flex">
                            <div class="bar-wrap">
                                <div class="bar-1"></div>
                                <div class="bar-2"></div>
                                <div class="bar-3"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.theme-main-menu -->
</header>
<!-- header-area end -->
<!-- slide-bar start -->
<div class="ht-menu-wrapper">
    <div class="ht-menu-area">
        <button class="ht-menu-toggle">
            <i class="bi bi-x-lg"></i>
        </button>
        <div class="mobile-logo">
            <a href="/home/">
                <img src="~/assets/img/logo/header-logo-2.svg" alt="logo">
            </a>
        </div>
        <div class="mobile-menu-wrapper d-lg-none d-inline-block">
            <div class="mobile-menu"></div>
        </div>
        <div class="offset-widget mb-40">
            <div class="info-widget">
                <h4 class="offset-title mb-20">About Us</h4>
                <p class="mb-30">
                    But I must explain to you how all this mistaken idea of denouncing pleasure and
                    praising pain was born and will give you a complete account of the system and
                    expound the actual teachings of the great explore
                </p>
            </div>
        </div>
        <div class="offset-widget mb-30 pr-10">
            <div class="info-widget info-widget2">
                <h4 class="offset-title mb-20">Contact Info</h4>
                <p>
                    <i class="fal fa-address-book"></i>
                    23/A, Miranda City Likaoli Prikano, Dope
                </p>
                <p>
                    <i class="fal fa-phone"></i>
                    +0989 7876 9865 9
                </p>
                <p>
                    <i class="fal fa-envelope-open"></i>
                    info@example.com
                </p>
            </div>
        </div>
        <div class="login-btn text-center">
            <a class="ht_btn w-100" href="#">Login</a>
        </div>

    </div>
</div>
<!-- side-bar end -->


<main>

<!-- theme-banner-four start -->
<section class="theme-banner-four">
    <img class="shape-2" src="~/assets/img/shape/shape-33.png" alt="shape">
    <img class="shape-3" src="~/assets/img/shape/shape-36.png" alt="shape">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="hero-content">
                    <h1 class="main-title wow fadeInUp">Together We Can Create Change</h1>
                    <p class="description wow fadeInUp" data-wow-delay="0.1">
                        Unite for a brighter future
                        work together towards a more
                        promising future for all of
                        us to share.
                    </p>
                    <div class="d-md-flex align-items-center wow fadeInUp" data-wow-delay="0.2">
                        <div class="hero-btn-1 me-md-4 mb-md-0 mb-4">
                            <a href="/about" class="ht-btn bstyle">Donate now</a>
                        </div>
                        <div class="hero-btn-2 d-none d-xl-inline-block">
                            <a href="https://www.youtube.com/watch?v=lTxn2BuqyzU"
                               class="ht-btn bstyle-2 popup-links">
                                watch videos <i class="bi bi-play-fill"></i>
                            </a>
                        </div>
                    </div>
                    <div class="d-flex mt-60 mt-lg-10 wow fadeInUp" data-wow-delay="0.3">
                        <div class="hero-counter">
                            <h3 class="number"><span class="counter">3</span>k</h3>
                            <p>Volunteers</p>
                        </div>
                        <div class="hero-counter ml-150 ml-lg-50">
                            <h3 class="number"><span class="counter">12</span>+</h3>
                            <p>Years Experiences</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="hero-img text-center">
                    <img class="img-fluid" src="~/assets/img/hero/hero-img-4.png" alt="hero">
                    <img class="shape-1" src="~/assets/img/shape/shape-34.png" alt="hero">
                    <img class="bg-shape" src="~/assets/img/shape/shape-35.png" alt="hero">
                </div>
            </div>
        </div>
    </div><!-- .container -->
</section>
<!-- theme-banner-four end -->
<!-- brand-section start -->
<div class="black-bg brand-wrap-1 pb-60 pt-60">
    <div class="container-fluid px-xxl-5 mx-xxl-5">
        <div class="row">
            <div class="col-12">
                <div class="brand-slide-wrapper ht-carousel d-flex align-items-center" data-slide-show="5"
                     data-lg-slide-show="3" data-md-slide-show="3" data-sm-slide-show="2">
                    <div class="brand-item">
                        <a href="#">
                            <img src="~/assets/img/brand/brand-5.svg" alt="brand">
                        </a>
                    </div>
                    <div class="brand-item">
                        <a href="#">
                            <img src="~/assets/img/brand/brand-6.svg" alt="brand">
                        </a>
                    </div>
                    <div class="brand-item">
                        <a href="#">
                            <img src="~/assets/img/brand/brand-7.svg" alt="brand">
                        </a>
                    </div>
                    <div class="brand-item">
                        <a href="#">
                            <img src="~/assets/img/brand/brand-8.svg" alt="brand">
                        </a>
                    </div>
                    <div class="brand-item">
                        <a href="#">
                            <img src="~/assets/img/brand/brand-9.svg" alt="brand">
                        </a>
                    </div>
                    <div class="brand-item">
                        <a href="#">
                            <img src="~/assets/img/brand/brand-5.svg" alt="brand">
                        </a>
                    </div>
                    <div class="brand-item">
                        <a href="#">
                            <img src="~/assets/img/brand/brand-6.svg" alt="brand">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- brand-section end -->
<!-- we-do-section start -->
<section class="we-do-section-three position-relative z-1 pt-200 pt-lg-60 pb-45 pb-lg-15">
    <img class="shape-1" src="~/assets/img/shape/shape-39.png" alt="shape">
    <img class="shape-2" src="~/assets/img/shape/shape-40.png" alt="shape">
    <div class="container">
        <div class="row gx-lg-0 justify-content-center">
            <div class="col-xl-9 col-lg-8">
                <div class="title-five text-center mb-70">
                    <h5 class="sub-title wow fadeInUp">What we do</h5>
                    <h2 class="title wow fadeInUp" data-wow-delay="0.1">
                        Enrich lives offer hope inspire
                        change
                    </h2>
                    <p class="wow fadeInUp" data-wow-delay="0.2">
                        Charity volunteers dedicate their time and
                        effort to improve lives end.
                    </p>
                </div>
            </div>
        </div>
        <div class="row align-items-center gx-xxl-5">
            <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="feature-wrap-6 wow fadeInUp">
                    <div class="icon">
                        <img src="~/assets/img/icon/icon-15.svg" alt="icon">
                    </div>
                    <h4 class="feature-title">water</h4>
                    <p class="description">
                        Freshwater is the elixir
                        communities.
                    </p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="feature-wrap-6 fw-2 wow fadeInUp" data-wow-delay="0.1">
                    <div class="icon">
                        <img src="~/assets/img/icon/icon-16.svg" alt="icon">
                    </div>
                    <h4 class="feature-title">Medical</h4>
                    <p class="description">
                        Freshwater is the elixir
                        communities.
                    </p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="feature-wrap-6 fw-3 wow fadeInUp" data-wow-delay="0.2">
                    <div class="icon">
                        <img src="~/assets/img/icon/icon-17.svg" alt="icon">
                    </div>
                    <h4 class="feature-title">Food</h4>
                    <p class="description">
                        Freshwater is the elixir
                        communities.
                    </p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="feature-wrap-6 fw-4 wow fadeInUp" data-wow-delay="0.3">
                    <div class="icon">
                        <img src="~/assets/img/icon/icon-18.svg" alt="icon">
                    </div>
                    <h4 class="feature-title">Education</h4>
                    <p class="description">
                        Freshwater is the elixir
                        communities.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- we-do-section end -->
<!-- about-section start -->
<section class="about-section-four pt-90 pb-45 pt-lg-60 pb-lg-15">
    <div class="container">
        <div class="row gx-xl-0 align-items-center">
            <div class="col-lg-6">
                <div class="img-wrapper-three mb-45 wow fadeInLeft">
                    <img class="main-img img-fluid" src="~/assets/img/media/media-21.png" alt="media">
                    <a href="https://www.youtube.com/watch?v=lTxn2BuqyzU" class="popup-video">
                        <i class="bi bi-play-fill"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="text-wrapper mb-45 wow fadeInRight">
                    <div class="title-five mb-75">
                        <h5 class="sub-title">Help people</h5>
                        <h2 class="title">
                            We’re dedicated to assisting for
                            poor soul
                        </h2>
                        <p class="pe-xxl-3">
                            We aim to aid individuals facing economic difficulties to help
                            them
                            overcome financial dignity.
                        </p>
                    </div>

                    <div class="row row-cols-md-2 row-cols-1">
                        <div class="col">
                            <div class="counter-wrap-2 text-md-start text-center">
                                <h3 class="number"><span class="counter">18</span>k</h3>
                                <p class="counter-title mb-0">Building a hospital</p>
                            </div>
                        </div>
                        <div class="col">
                            <div class="counter-wrap-2 text-md-start text-center">
                                <h3 class="number"><span class="counter">14</span>+</h3>
                                <p class="counter-title mb-0">Successful campaigns</p>
                            </div>
                        </div>
                    </div>

                    <div class="bottom-btn pt-xxl-4">
                        <a href="/blog/details" class="ht-btn style-6">About us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- about-section end -->
<!-- team-section start -->
<section class="team-section-two dot-style-4 position-relative z-1 pt-110 pt-lg-60 pb-125 pb-lg-15">
    <img class="shape-1" src="~/assets/img/shape/shape-37.png" alt="shape">
    <img class="shape-2" src="~/assets/img/shape/shape-38.png" alt="shape">
    <div class="container">
        <div class="title-five text-center mb-70">
            <h5 class="sub-title text-theme wow fadeInUp">Team</h5>
            <h2 class="title text-white wow fadeInUp" data-wow-delay="0.1">Our team members</h2>
            <p class="text-white opacity-75 wow fadeInUp" data-wow-delay="0.2">
                Team includes dedicated
                members working collaboratively toward
                common objectives.
            </p>
        </div>
        <div class="row ht-carousel" data-slide-show="3" data-ml-slide-show="2" data-lg-slide-show="3"
             data-md-slide-show="2" data-dots="true">
            <div class="col-lg-4">
                <div class="team-wrap-2">
                    <div class="team-thumb">
                        <img class="w-100" src="~/assets/img/team/team-4.jpg" alt="team">
                        <div class="team-social">
                            <a href="#" tabindex="-1">
                                <i class="bi bi-twitter"></i>
                            </a>
                            <a href="#" tabindex="-1">
                                <i class="bi bi-instagram"></i>
                            </a>
                            <a href="#" tabindex="-1">
                                <i class="bi bi-facebook"></i>
                            </a>
                        </div>
                    </div>

                    <div class="content">
                        <h4 class="name">
                            <a href="/team/details">Brooklyn Simmons</a>
                        </h4>
                        <p class="designation">Volunteer</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="team-wrap-2">
                    <div class="team-thumb">
                        <img class="w-100" src="~/assets/img/team/team-5.jpg" alt="team">
                        <div class="team-social">
                            <a href="#" tabindex="-1">
                                <i class="bi bi-twitter"></i>
                            </a>
                            <a href="#" tabindex="-1">
                                <i class="bi bi-instagram"></i>
                            </a>
                            <a href="#" tabindex="-1">
                                <i class="bi bi-facebook"></i>
                            </a>
                        </div>
                    </div>

                    <div class="content">
                        <h4 class="name">
                            <a href="/team/details">Jenny Wilson</a>
                        </h4>
                        <p class="designation">Volunteer</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="team-wrap-2">
                    <div class="team-thumb">
                        <img class="w-100" src="~/assets/img/team/team-6.jpg" alt="team">
                        <div class="team-social">
                            <a href="#" tabindex="-1">
                                <i class="bi bi-twitter"></i>
                            </a>
                            <a href="#" tabindex="-1">
                                <i class="bi bi-instagram"></i>
                            </a>
                            <a href="#" tabindex="-1">
                                <i class="bi bi-facebook"></i>
                            </a>
                        </div>
                    </div>

                    <div class="content">
                        <h4 class="name">
                            <a href="/team/details">Savannah Nguyen</a>
                        </h4>
                        <p class="designation">Volunteer</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="team-wrap-2">
                    <div class="team-thumb">
                        <img class="w-100" src="~/assets/img/team/team-4.jpg" alt="team">
                        <div class="team-social">
                            <a href="#" tabindex="-1">
                                <i class="bi bi-twitter"></i>
                            </a>
                            <a href="#" tabindex="-1">
                                <i class="bi bi-instagram"></i>
                            </a>
                            <a href="#" tabindex="-1">
                                <i class="bi bi-facebook"></i>
                            </a>
                        </div>
                    </div>

                    <div class="content">
                        <h4 class="name">
                            <a href="/team/details">Brooklyn Simmons</a>
                        </h4>
                        <p class="designation">Volunteer</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="team-wrap-2">
                    <div class="team-thumb">
                        <img class="w-100" src="~/assets/img/team/team-5.jpg" alt="team">
                        <div class="team-social">
                            <a href="#" tabindex="-1">
                                <i class="bi bi-twitter"></i>
                            </a>
                            <a href="#" tabindex="-1">
                                <i class="bi bi-instagram"></i>
                            </a>
                            <a href="#" tabindex="-1">
                                <i class="bi bi-facebook"></i>
                            </a>
                        </div>
                    </div>

                    <div class="content">
                        <h4 class="name">
                            <a href="/team/details">Jenny Wilson</a>
                        </h4>
                        <p class="designation">Volunteer</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="team-wrap-2">
                    <div class="team-thumb">
                        <img class="w-100" src="~/assets/img/team/team-6.jpg" alt="team">
                        <div class="team-social">
                            <a href="#" tabindex="-1">
                                <i class="bi bi-twitter"></i>
                            </a>
                            <a href="#" tabindex="-1">
                                <i class="bi bi-instagram"></i>
                            </a>
                            <a href="#" tabindex="-1">
                                <i class="bi bi-facebook"></i>
                            </a>
                        </div>
                    </div>

                    <div class="content">
                        <h4 class="name">
                            <a href="/team/details">Savannah Nguyen</a>
                        </h4>
                        <p class="designation">Volunteer</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- team-section end -->
<!-- cause-section start -->
<section class="cause-section-three position-relative z-2 pt-175 pb-95 pt-lg-60 pb-lg-75">
<img class="shape-1" src="~/assets/img/shape/shape-37.png" alt="shape">
<img class="shape-2" src="~/assets/img/shape/shape-39.png" alt="shape">
<div class="container">
    <div class="row align-items-center justify-content-center">
        <div class="col-lg-10">
            <div class="title-five text-center mb-70">
                <h5 class="sub-title wow fadeInUp">Our causes</h5>
                <h2 class="title wow fadeInUp" data-wow-delay="0.1">
                    Small gifts can have a big
                    influence.
                </h2>
                <p class="wow fadeInUp" data-wow-delay="0.2">
                    Even modest contributions can lead to
                    substantial and meaningful societal change.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid cause-slider-three wow fadeIn" data-wow-delay="0.1">
    <div id="arrow-5s" class="row ht-carousel align-items-center" data-slide-show="3"
         data-ml-slide-show="2" data-lg-slide-show="2" data-md-slide-show="1" data-sm-slide-show="1">
        <div class="col-lg-4">
            <div class="causes-wrap-3">
                <div class="cause-thumb">
                    <img src="~/assets/img/cause/img-5.jpg" alt="cause">
                    <div class="cause-donation d-flex align-items-center justify-content-between">
                        <div class="fund-wrap d-md-flex align-items-center justify-content-between">
                            <h5 class="fund"><span>Goal:</span> $36,000</h5>
                            <h5 class="fund"><span>Raised:</span> $58,000</h5>
                        </div>
                        <div class="chart3" data-percent="90">
                            <span>90%</span>
                        </div>
                    </div>
                </div>
                <div class="cause-content">
                    <h3 class="cause-title">
                        <a href="/causes/details">
                            Accessible clean drinking
                            water nearby.
                        </a>
                    </h3>
                    <p class="description">
                        Freshwater is the elixir of life, sustaining ecosystems,
                        communities.
                    </p>

                    <a href="/causes/details" class="donation-btn">Donate Now</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="causes-wrap-3">
                <div class="cause-thumb">
                    <img src="~/assets/img/cause/img-6.jpg" alt="cause">
                    <div class="cause-donation d-flex align-items-center justify-content-between">
                        <div class="fund-wrap d-md-flex align-items-center justify-content-between">
                            <h5 class="fund"><span>Goal:</span> $216,000</h5>
                            <h5 class="fund"><span>Raised:</span> $140,000</h5>
                        </div>
                        <div class="chart3" data-percent="78">
                            <span>78%</span>
                        </div>
                    </div>
                </div>
                <div class="cause-content">
                    <h3 class="cause-title">
                        <a href="/causes/details">
                            Educational empowerment for
                            brighter futures.
                        </a>
                    </h3>
                    <p class="description">
                        Freshwater is the elixir of life, sustaining ecosystems,
                        communities.
                    </p>

                    <a href="/causes/details" class="donation-btn">Donate Now</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="causes-wrap-3">
                <div class="cause-thumb">
                    <img src="~/assets/img/cause/img-7.jpg" alt="cause">
                    <div class="cause-donation d-flex align-items-center justify-content-between">
                        <div class="fund-wrap d-md-flex align-items-center justify-content-between">
                            <h5 class="fund"><span>Goal:</span> $58,000</h5>
                            <h5 class="fund"><span>Raised:</span> $36,000</h5>
                        </div>
                        <div class="chart3" data-percent="90">
                            <span>90%</span>
                        </div>
                    </div>
                </div>
                <div class="cause-content">
                    <h3 class="cause-title">
                        <a href="/causes/details">
                            Diverse health services
                            available here.
                        </a>
                    </h3>
                    <p class="description">
                        Freshwater is the elixir of life, sustaining ecosystems,
                        communities.
                    </p>

                    <a href="/causes/details" class="donation-btn">Donate Now</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="causes-wrap-3">
                <div class="cause-thumb">
                    <img src="~/assets/img/cause/img-5.jpg" alt="cause">
                    <div class="cause-donation d-flex align-items-center justify-content-between">
                        <div class="fund-wrap d-md-flex align-items-center justify-content-between">
                            <h5 class="fund"><span>Goal:</span> $36,000</h5>
                            <h5 class="fund"><span>Raised:</span> $58,000</h5>
                        </div>
                        <div class="chart3" data-percent="90">
                            <span>90%</span>
                        </div>
                    </div>
                </div>
                <div class="cause-content">
                    <h3 class="cause-title">
                        <a href="/causes/details">
                            Accessible clean drinking
                            water nearby.
                        </a>
                    </h3>
                    <p class="description">
                        Freshwater is the elixir of life, sustaining ecosystems,
                        communities.
                    </p>

                    <a href="/causes/details" class="donation-btn">Donate Now</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="causes-wrap-3">
                <div class="cause-thumb">
                    <img src="~/assets/img/cause/img-6.jpg" alt="cause">
                    <div class="cause-donation d-flex align-items-center justify-content-between">
                        <div class="fund-wrap d-md-flex align-items-center justify-content-between">
                            <h5 class="fund"><span>Goal:</span> $216,000</h5>
                            <h5 class="fund"><span>Raised:</span> $140,000</h5>
                        </div>
                        <div class="chart3" data-percent="78">
                            <span>78%</span>
                        </div>
                    </div>
                </div>
                <div class="cause-content">
                    <h3 class="cause-title">
                        <a href="/causes/details">
                            Educational empowerment for
                            brighter futures.
                        </a>
                    </h3>
                    <p class="description">
                        Freshwater is the elixir of life, sustaining ecosystems,
                        communities.
                    </p>

                    <a href="/causes/details" class="donation-btn">Donate Now</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="causes-wrap-3">
                <div class="cause-thumb">
                    <img src="~/assets/img/cause/img-7.jpg" alt="cause">
                    <div class="cause-donation d-flex align-items-center justify-content-between">
                        <div class="fund-wrap d-md-flex align-items-center justify-content-between">
                            <h5 class="fund"><span>Goal:</span> $58,000</h5>
                            <h5 class="fund"><span>Raised:</span> $36,000</h5>
                        </div>
                        <div class="chart3" data-percent="90">
                            <span>90%</span>
                        </div>
                    </div>
                </div>
                <div class="cause-content">
                    <h3 class="cause-title">
                        <a href="/causes/details">
                            Diverse health services
                            available here.
                        </a>
                    </h3>
                    <p class="description">
                        Freshwater is the elixir of life, sustaining ecosystems,
                        communities.
                    </p>

                    <a href="/causes/details" class="donation-btn">Donate Now</a>
                </div>
            </div>
        </div>
    </div>
    <div class="arrow-style-5 d-flex align-items-center justify-content-center mt-15">
        <button data-slick-prev="#arrow-5s" class="slick-prev">
            <i class="bi bi-chevron-left"></i>
        </button>
        <button data-slick-next="#arrow-5s" class="slick-next">
            <i class="bi bi-chevron-right"></i>
        </button>
    </div>
</div>
</section>
<!-- cause-section end -->
<!-- blog-section start -->
<section class="blog-section-four pt-60 pb-145 pt-lg-40 pb-lg-30">
    <img class="shape-1" src="~/assets/img/shape/shape-37.png" alt="shape">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="title-five mb-70 mb-md-20 wow fadeInUp">
                    <h5 class="sub-title">Our blog</h5>
                    <h2 class="title">Blog for volunteering</h2>
                </div>
            </div>
            <div class="col-lg-6">
                <p class="paragraph-text wow fadeInUp">
                    Delve into the concept that volunteering extends
                    beyond a mere
                    activity
                    becoming a
                    catalyst for personal
                    shaping individuals and growth.
                </p>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-xl-7 col-lg-6">
                <div class="blog-four wow fadeInUp" data-wow-delay="0.1">
                    <div class="blog-thumb">
                        <img src="~/assets/img/blog/blog-8.jpg" alt="blog">
                        <a href="/blog/details" class="blog-date">08 Jan</a>
                    </div>
                    <div class="blog-content">
                        <div class="blog-meta">
                            <a href="/blog/details">Esther Howard . </a>
                            <a href="/blog/details">Comment (03)</a>
                        </div>
                        <h3 class="blog-title">
                            <a href="/blog/details">
                                Donation sparks joy in
                                transformative giving.
                            </a>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-xl-5 col-lg-6">
                <div class="blog-five wow fadeInUp" data-wow-delay="0.2">
                    <a href="/blog/details" class="blog-date">08 Jan</a>
                    <div class="blog-content">
                        <h3 class="blog-title">
                            <a href="/blog/details">
                                Love for
                                children is a beacon of hope.
                            </a>
                        </h3>
                        <div class="blog-meta">
                            <a href="/blog/details">Esther Howard . </a>
                            <a href="/blog/details">Comment (03)</a>
                        </div>
                        <a class="blog-btn" href="/blog/details">
                            <img src="~/assets/img/icon/arrow-6.svg"
                                 alt="icon">
                        </a>
                    </div>
                </div>
                <div class="blog-four bf-2 wow fadeInUp" data-wow-delay="0.3">
                    <div class="blog-thumb">
                        <img src="~/assets/img/blog/blog-9.jpg" alt="blog">
                        <a href="/blog/details" class="blog-date">16 Dec</a>
                    </div>
                    <div class="blog-content">
                        <div class="blog-meta">
                            <a href="/blog/details">Esther Howard</a>
                            <a href="/blog/details">Comment (03)</a>
                        </div>
                        <h3 class="blog-title">
                            <a href="/blog/details">
                                Donate to poor
                                villagers.
                            </a>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- blog-section end -->
<!-- contact-section-one end -->
<section class="contact-section-two pt-140 pb-140 pt-lg-60 pb-lg-60"
         data-background="/assets/img/bg/bg-6.jpg">
    <img class="shape-1" src="~/assets/img/shape/shape-41.png" alt="shape">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="title-five mb-45">
                    <h5 class="sub-title wow fadeInUp">donate</h5>
                    <h2 class="title text-white">Contribute to feed the hungry.</h2>
                    <p class="text-white opacity-75 mb-70 wow fadeInUp" data-wow-delay="0.1">
                        Extend a
                        helping hand, donate to provide for
                        those
                        facing hunger and make a lives.
                    </p>
                    <a href="/contact" class="ht-btn style-7 wow fadeInUp" data-wow-delay="0.2">
                        Join us
                        now
                    </a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="contact-form-wrapper-2 wow fadeInRight">
                    <div class="title-one mb-40 mb-lg-20">
                        <h2 class="contact-title">Donation form</h2>
                    </div>
                    <form class="contact-form form-2" action="#">
                        <div class="input-wrapper">
                            <input type="text" placeholder="Your Full Name*">
                        </div>
                        <div class="input-wrapper">
                            <input type="email" placeholder="Your Email*">
                        </div>
                        <div class="input-wrapper message">
                            <textarea name="message" placeholder="Amount"></textarea>
                        </div>
                        <button class="submit-btn">Donate now</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- contact-section-one end -->
<!-- newsletter-section start -->
<div class="newsletter-section-four position-relative z-1 pt-160 pt-lg-60 pb-55">
    <img class="shape-1 position-absolute ml-100 mt--90 d-none d-lg-inline-block"
         src="~/assets/img/shape/shape-42.png" alt="shape">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="title-five text-lg-start text-center wow fadeInUp">
                    <h2 class="title">Get our latest updates.</h2>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="subscribe-form sub-form-4 text-lg-end wow fadeInUp">
                    <input type="text" placeholder="Enter Your Mail">
                    <button type="submit">Subscribe</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- newsletter-section end -->


</main>


<!--footer-area start-->
<footer class="footer-four pt-30">
    <img class="shape-1" src="~/assets/img/shape/shape-43.png" alt="shape">
    <img class="shape-2" src="~/assets/img/shape/shape-44.png" alt="shape">
    <div class="container fot-border-2 pt-95">
        <div class="row mb-30">
            <div class="col-xl-3 col-lg-3 col-md-6">
                <div class="footer-widget ht-about-widget mb-30">
                    <div class="footer-logo">
                        <a href="/home/">
                            <img src="~/assets/img/logo/header-logo-1.svg" alt="logo">
                        </a>
                    </div>
                    <p class="description">Every donation brings to creating where all and loved.</p>
                    <ul>
                        <li>
                            <a href="mailto:infocharity816@gmail.com">
                                <img src="~/assets/img/icon/icon-19.svg"
                                     alt="icon"> nfocharity816@gmail.com
                            </a>
                        </li>
                        <li>
                            <a href="#"><img src="~/assets/img/icon/icon-20.svg" alt="icon"> +1 123 456 7890</a>
                        </li>
                    </ul>
                    <div class="social-links">
                        <a href="#">
                            <i class="bi bi-facebook"></i>
                        </a>
                        <a href="#">
                            <i class="bi bi-twitter"></i>
                        </a>
                        <a href="#">
                            <i class="bi bi-instagram"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 d-lg-flex justify-content-center">
                <div class="footer-widget mb-30">
                    <h4 class="widget-title">Company</h4>
                    <ul>
                        <li>
                            <a href="/about">About us</a>
                        </li>
                        <li>
                            <a href="/contact">Carrer</a>
                        </li>
                        <li>
                            <a href="/blog/grid">Blogs</a>
                        </li>
                        <li>
                            <a href="/about">Testimonial</a>
                        </li>
                        <li>
                            <a href="/contact">Contact us</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 d-flex justify-content-lg-center">
                <div class="footer-widget mb-30">
                    <h4 class="widget-title">Services</h4>
                    <ul>
                        <li>
                            <a href="/about">Donation onlines</a>
                        </li>
                        <li>
                            <a href="/contact">Donor centers</a>
                        </li>
                        <li>
                            <a href="/blog/grid">Volunteering</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 d-flex justify-content-lg-end">
                <div class="footer-widget mb-30">
                    <h4 class="widget-title">Donations</h4>
                    <ul>
                        <li>
                            <a href="/about">Donor wall</a>
                        </li>
                        <li>
                            <a href="/contact">Donation confirmation</a>
                        </li>
                        <li>
                            <a href="/blog/grid">Donation history</a>
                        </li>
                        <li>
                            <a href="/about">Donations details</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="copyright-wrap">
            <div class="copyright-text text-center">
                © Copyright 2025 <a href="https://themeforest.net/user/creativegigs/portfolio">Kuki</a>. All
                Rights Reserved.
            </div>
        </div>
    </div>
</footer>