
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!-- offcanvas start  -->
<div class="offcanvas offcanvas-top theme-bg" tabindex="-1" id="offcanvasTop">
    <div class="offcanvas-header">
        <a data-bs-dismiss="offcanvas" aria-label="Close">
            <i class="fas fa-times search-close" id="search-close"></i>
        </a>
    </div>
    <div class="offcanvas-body">
        <!-- Fullscreen search -->
        <div class="search-wrap">
            <form method="get">
                <input type="search" class="main-search-input" placeholder="Search Your Keyword...">
            </form>
        </div>
        <!-- end fullscreen search -->
    </div>
</div>
<!-- offcanvas end  -->
<!-- header-area start -->
<header class="theme-main-menu theme-menu-three">
    <div class="main-header-area">
        <div class="container-fluid">
            <div class="row align-items-center justify-content-between">
                <div class="col-md-auto col-6">
                    <div class="logo-area">
                        <a class="logo" href="/home/">
                            <img src="~/assets/img/logo/header-logo-2.svg"
                                 alt="Header-logo">
                        </a>
                        <a class="sticky-logo" href="/home/">
                            <img src="~/assets/img/logo/header-logo-1.svg"
                                 alt="Header-logo">
                        </a>
                    </div>
                </div>
                <div class="col-md-auto d-flex align-items-center justify-content-end d-lg-inline-block d-none">
                    <div class="main-menu d-none d-lg-block">
                        <nav id="mobile-menu">
                            <ul class="menu-list">
                                <li>
                                    <a href="#">
                                        Home
                                    </a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a href="/home/">Home Style 1</a>
                                        </li>
                                        <li>
                                            <a href="/home/index2">Home Style 2</a>
                                        </li>
                                        <li>
                                            <a href="/home/index3">Home Style 3</a>
                                        </li>
                                        <li>
                                            <a href="/home/index4">Home Style 4</a>
                                        </li>

                                        <li>
                                            <a href="/home/index5">Home Style 5</a>
                                        </li>
                                        <li>
                                            <a href="/home/index6">Home Style 6</a>
                                        </li>
                                        <li>
                                            <a href="/home/index7">Home Style 7</a>
                                        </li>

                                    </ul>
                                </li>
                                <li>
                                    <a href="#">
                                        Pages
                                    </a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a href="/about">About Us</a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                Services <span class="float-end">
                                                    <i class="bi bi-chevron-down"></i>
                                                </span>
                                            </a>
                                            <ul class="sub-menu">
                                                <li>
                                                    <a href="/services">Services V1</a>
                                                </li>
                                                <li>
                                                    <a href="/services/v2">Services V2</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">
                                                Event <span class="float-end">
                                                    <i class="bi bi-chevron-down"></i>
                                                </span>
                                            </a>
                                            <ul class="sub-menu">
                                                <li>
                                                    <a href="/event/grid">Event Grid</a>
                                                </li>
                                                <li>
                                                    <a href="/event/list">Event List</a>
                                                </li>
                                                <li>
                                                    <a href="/event/details">Event Details</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">
                                                Volunteer <span class="float-end">
                                                    <i class="bi bi-chevron-down"></i>
                                                </span>
                                            </a>
                                            <ul class="sub-menu">
                                                <li>
                                                    <a href="/team/v1">Volunteer V1</a>
                                                </li>
                                                <li>
                                                    <a href="/team/v2">Volunteer V2</a>
                                                </li>
                                                <li>
                                                    <a href="/team/details">Volunteer Details</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="/contact/v2">Contact V2</a>
                                        </li>
                                        <li>
                                            <a href="/error">Error - 404</a>
                                        </li>
                                        <li>
                                            <a href="/faq">FAQ</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Causes</a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a href="/causes/grid">Causes Grid</a>
                                        </li>
                                        <li>
                                            <a href="/causes/list">Causes List</a>
                                        </li>
                                        <li>
                                            <a href="/causes/details">Causes Details</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Blog</a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a href="/blog/grid">Blog Grid</a>
                                        </li>
                                        <li>
                                            <a href="/blog/classic">Blog Classic</a>
                                        </li>
                                        <li>
                                            <a href="/blog/details">Blog Details</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="/contact">Contact</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-md-auto col-6">
                    <div class="right-nav d-flex align-items-center justify-content-end">
                        <div class="hamburger-menu d-lg-none d-inline-flex">
                            <div class="bar-wrap">
                                <div class="bar-1"></div>
                                <div class="bar-2"></div>
                                <div class="bar-3"></div>
                            </div>
                        </div>
                        <div class="quote-btn d-none d-xxl-inline-block">
                            <a class="ht-btn bs-btn" href="/contact">Help Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.theme-main-menu -->
</header>
<!-- header-area end -->
<!-- slide-bar start -->
<div class="ht-menu-wrapper">
    <div class="ht-menu-area">
        <button class="ht-menu-toggle"><i class="bi bi-x-lg"></i></button>
        <div class="mobile-logo">
            <a href="/home/">
                <img src="~/assets/img/logo/header-logo-2.svg" alt="logo">
            </a>
        </div>
        <div class="mobile-menu-wrapper d-lg-none d-inline-block">
            <div class="mobile-menu"></div>
        </div>
        <div class="offset-widget mb-40">
            <div class="info-widget">
                <h4 class="offset-title mb-20">About Us</h4>
                <p class="mb-30">
                    But I must explain to you how all this mistaken idea of denouncing pleasure and
                    praising pain was born and will give you a complete account of the system and
                    expound the actual teachings of the great explore
                </p>
            </div>
        </div>
        <div class="offset-widget mb-30 pr-10">
            <div class="info-widget info-widget2">
                <h4 class="offset-title mb-20">Contact Info</h4>
                <p>
                    <i class="fal fa-address-book"></i>
                    23/A, Miranda City Likaoli Prikano, Dope
                </p>
                <p>
                    <i class="fal fa-phone"></i>
                    +0989 7876 9865 9
                </p>
                <p>
                    <i class="fal fa-envelope-open"></i>
                    info@example.com
                </p>
            </div>
        </div>
        <div class="login-btn text-center">
            <a class="ht_btn w-100" href="#">Login</a>
        </div>

    </div>
</div>
<!-- side-bar end -->


<main>
    <!-- theme-banner-three start -->
    <section class="theme-banner-three">
        <div class="ht-carousel-2">
            <div class="slider-wrapper" data-background="/assets/img/hero/hero-img-3.jpg">
                <img class="shape-1" src="~/assets/img/shape/shape-13.png" alt="shape">
                <img class="shape-2" src="~/assets/img/shape/shape-14.png" alt="shape">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xl-10 col-lg-8">
                            <div class="hero-content">
                                <img class="shape-3" src="~/assets/img/shape/shape-15.png" alt="shape">
                                <h1 class="main-title">Save <span class="highlight">The</span> animal</h1>
                                <p class="wow fadeInUp">
                                    Saving animals is crucial to preserving our planet's
                                    biodiversity and
                                    ensuring
                                    for
                                    all living beings.
                                </p>
                                <a href="/contact" class="ht-btn bstyle wow fadeInUp"
                                   data-wow-delay="0.1">support us</a>
                            </div>
                        </div>
                    </div>
                </div><!-- .container -->
                <div class="hero-bottom-wrap d-none d-md-flex align-items-center justify-content-between">
                    <div class="hero-video wow fadeInUp" data-wow-delay="0.2">
                        <a href="#" class="popup-video"><i class="bi bi-play-fill"></i></a>
                        <span class="video-title">Play Video</span>
                    </div>
                    <div class="number-wrapper wow fadeInUp" data-wow-delay="0.2">
                        <div class="number-pagination">0<span class="pagingInfo1"></span></div>
                        <div class="divider-line"></div>
                        <div class="total-pagination">0<span class="pagingInfo2"></span></div>
                    </div>
                </div>
                <img class="bottom-shape" src="~/assets/img/shape/shape-83.png" alt="shape">
            </div>
            <div class="slider-wrapper" data-background="/assets/img/hero/hero-img-3.jpg">
                <img class="shape-1" src="~/assets/img/shape/shape-13.png" alt="shape">
                <img class="shape-2" src="~/assets/img/shape/shape-14.png" alt="shape">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xl-10 col-lg-8">
                            <div class="hero-content">
                                <img class="shape-3" src="~/assets/img/shape/shape-15.png" alt="shape">
                                <h1 class="main-title">Save <span class="highlight">The</span> animal</h1>
                                <p>
                                    Saving animals is crucial to preserving our planet's biodiversity and
                                    ensuring
                                    for
                                    all living beings.
                                </p>
                                <a href="/contact" class="ht-btn bstyle">support us</a>
                            </div>
                        </div>
                    </div>
                </div><!-- .container -->
                <div class="hero-bottom-wrap d-none d-md-flex align-items-center justify-content-between">
                    <div class="hero-video">
                        <a href="#" class="popup-video"><i class="bi bi-play-fill"></i></a>
                        <span class="video-title">Play Video</span>
                    </div>
                    <div class="number-wrapper">
                        <div class="number-pagination">0<span class="pagingInfo1"></span></div>
                        <div class="divider-line"></div>
                        <div class="total-pagination">0<span class="pagingInfo2"></span></div>
                    </div>
                </div>
                <img class="bottom-shape" src="~/assets/img/shape/shape-83.png" alt="shape">
            </div>
        </div>
    </section>
    <!-- theme-banner-three end -->
    <!-- ht-feedback-section start -->
    <div class="feedback-section-three dot-style-3 position-relative z-1 pt-60 pb-100 pb-lg-20">
        <div class="container">
            <div class="ht-carousel row align-items-center" data-slide-show="1" data-dots="true">
                <div class="item">
                    <div class="row align-items-center">
                        <div class="col-lg-9">
                            <div class="feedback-wrap-3 d-lg-flex align-items-center justify-content-md-between">
                                <div class="author-content">
                                    <img class="author" src="~/assets/img/media/media-16.jpg" alt="author">
                                    <h5 class="name">Esther Howard</h5>
                                    <p class="designation">London, Uk</p>
                                </div>
                                <div class="content">
                                    <p class="feedback-text">
                                        "I believe in creating a world where animals are
                                        treated with kindness and respect. I'm here to lend a helping hand to
                                        our
                                        furry
                                        friends.".
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 d-flex justify-content-center justify-content-lg-end">
                            <div class="right-content text-center">
                                <p>Want to help!</p>
                                <a href="/contact" class="ht-btn style-3">Donate now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="row align-items-center">
                        <div class="col-lg-9">
                            <div class="feedback-wrap-3 d-flex align-items-center justify-content-md-between">
                                <div class="author-content">
                                    <img class="author" src="~/assets/img/media/media-16.jpg" alt="author">
                                    <h5 class="name">Esther Howard</h5>
                                    <p class="designation">London, Uk</p>
                                </div>
                                <div class="content">
                                    <p class="feedback-text">
                                        "I believe in creating a world where animals are
                                        treated with kindness and respect. I'm here to lend a helping hand to
                                        our
                                        furry
                                        friends.".
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 d-flex justify-content-lg-end">
                            <div class="right-content text-center">
                                <p>Want to help!</p>
                                <a href="/contact" class="ht-btn style-3">Donate now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="row align-items-center">
                        <div class="col-lg-9">
                            <div class="feedback-wrap-3 d-flex align-items-center justify-content-md-between">
                                <div class="author-content">
                                    <img class="author" src="~/assets/img/media/media-16.jpg" alt="author">
                                    <h5 class="name">Esther Howard</h5>
                                    <p class="designation">London, Uk</p>
                                </div>
                                <div class="content">
                                    <p class="feedback-text">
                                        "I believe in creating a world where animals are
                                        treated with kindness and respect. I'm here to lend a helping hand to
                                        our
                                        furry
                                        friends.".
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 d-flex justify-content-lg-end">
                            <div class="right-content text-center">
                                <p>Want to help!</p>
                                <a href="/contact" class="ht-btn style-3">Donate now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ht-feedback-section end -->
    <!-- about-section start -->
    <div class="feature-section-two pt-100 pb-40 pt-lg-80 pb-lg-15">
        <div class="container px-lg-0">
            <div class="row row-cols-lg-3 row-cols-md-2 row-cols-1 justify-content-center gx-lg-0">
                <div class="col">
                    <div class="feature-wrap-5 wow fadeInUp">
                        <div class="feature-thumb">
                            <img class="thumb" src="~/assets/img/media/media-17.jpg" alt="media">
                            <a href="/about" class="icon">
                                <img src="~/assets/img/icon/arrow-1.svg"
                                     alt="arrow">
                            </a>
                        </div>
                        <div class="content">
                            <h3 class="feature-title">Adopt</h3>
                            <p class="description">One of the beautiful aspects of animal is the adopted.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="feature-wrap-5 wow fadeInUp" data-wow-delay="0.1">
                        <div class="feature-thumb">
                            <img class="thumb" src="~/assets/img/media/media-18.jpg" alt="media">
                            <a href="/about" class="icon">
                                <img src="~/assets/img/icon/arrow-1.svg"
                                     alt="arrow">
                            </a>
                        </div>
                        <div class="content">
                            <h3 class="feature-title">Save animal</h3>
                            <p class="description">One of the beautiful aspects of animal is the adopted.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="feature-wrap-5 wow fadeInUp" data-wow-delay="0.2">
                        <div class="feature-thumb">
                            <img class="thumb" src="~/assets/img/media/media-19.jpg" alt="media">
                            <a href="/about" class="icon">
                                <img src="~/assets/img/icon/arrow-1.svg"
                                     alt="arrow">
                            </a>
                        </div>
                        <div class="content">
                            <h3 class="feature-title">Join volunteer</h3>
                            <p class="description">One of the beautiful aspects of animal is the adopted.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- about-section end -->
    <!-- we-do-section start -->
    <section class="we-do-section position-relative z-1 pt-85 pt-lg-60 pb-130 pb-lg-90">
        <img class="shape-1 d-none d-xl-inline-block" src="~/assets/img/shape/shape-18.png" alt="shape">
        <img class="shape-2 d-none d-xl-inline-block" src="~/assets/img/shape/shape-19.png" alt="shape">
        <img class="shape-3 d-none d-xl-inline-block" src="~/assets/img/shape/shape-17.png" alt="shape">
        <div class="container">
            <div class="row justify-content-center">
                <div class="title-four text-center mb-100">
                    <h2 class="title wow fadeInUp">What we do</h2>
                    <p class="wow fadeInUp" data-wow-delay="0.1">
                        We're dedicated to caring for our animal
                        friends in every possible way.
                    </p>
                </div>

                <div class="col-xl-8 col-lg-10 work-feature wow fadeInUp" data-wow-delay="0.2">
                    <img class="bg-shape img-fluid" src="~/assets/img/media/media-20.png" alt="shape">
                    <img class="bg-shape-2 img-fluid" src="~/assets/img/media/media-20a.png" alt="shape">
                    <ul class="worklist">
                        <li>
                            <div class="tooltip-box tb-1">
                                <div class="icon">
                                    <img src="~/assets/img/icon/icon-11.svg" alt="shape">
                                </div>
                                <div class="tooltip-content">
                                    Pet Vaccine
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="tooltip-box tb-2">
                                <div class="icon">
                                    <img src="~/assets/img/icon/icon-12.svg" alt="shape">
                                </div>
                                <div class="tooltip-content">
                                    Secure space <br /> for pet
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="tooltip-box tb-3">
                                <div class="icon">
                                    <img src="~/assets/img/icon/icon-13.svg" alt="shape">
                                </div>
                                <div class="tooltip-content">
                                    Animal food
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="tooltip-box tb-4">
                                <div class="icon">
                                    <img src="~/assets/img/icon/icon-14.svg" alt="shape">
                                </div>
                                <div class="tooltip-content">
                                    Pet home
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- we-do-section end -->
    <!-- ht-project-section start -->
    <section class="ht-project-section position-relative pt-240 pb-250 pt-lg-60 pb-lg-60"
             data-background="/assets/img/bg/bg-3.png">
        <img class="shape-1" src="~/assets/img/shape/shape-21.png" alt="shape">
        <img class="shape-2" src="~/assets/img/shape/shape-22.png" alt="shape">
        <div class="container-fluid px-lg-0 position-relative z-2">
            <div class="row align-items-center justify-content-center">
                <div class="title-four text-center mb-70 mb-lg-20">
                    <h2 class="title wow fadeInUp">Recent Project</h2>
                </div>
            </div>
            <div id="arrow-4" class="row align-items-center ht-carousel px-xxl-5 mx-xxl-5" data-slide-show="3"
                 data-lg-slide-show="3" data-md-slide-show="2" data-sm-slide-show="1">
                <div class="col-lg-4">
                    <div class="portfolio-wrap-1">
                        <div class="portfolio-thumb">
                            <img class="portfolio-img" src="~/assets/img/gallery/img-1.jpg" alt="case">
                            <img class="shape-img" src="~/assets/img/shape/shape-20.png" alt="shape">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="portfolio-wrap-1">
                        <div class="portfolio-thumb">
                            <img class="portfolio-img" src="~/assets/img/gallery/img-2.jpg" alt="case">
                            <img class="shape-img" src="~/assets/img/shape/shape-20.png" alt="shape">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="portfolio-wrap-1">
                        <div class="portfolio-thumb">
                            <img class="portfolio-img" src="~/assets/img/gallery/img-3.jpg" alt="case">
                            <img class="shape-img" src="~/assets/img/shape/shape-20.png" alt="shape">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="portfolio-wrap-1">
                        <div class="portfolio-thumb">
                            <img class="portfolio-img" src="~/assets/img/gallery/img-1.jpg" alt="case">
                            <img class="shape-img" src="~/assets/img/shape/shape-20.png" alt="shape">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="portfolio-wrap-1">
                        <div class="portfolio-thumb">
                            <img class="portfolio-img" src="~/assets/img/gallery/img-2.jpg" alt="case">
                            <img class="shape-img" src="~/assets/img/shape/shape-20.png" alt="shape">
                        </div>
                    </div>
                </div>
            </div>
            <div class="arrow-style-4 d-flex align-items-center justify-content-center mt-60">
                <button data-slick-prev="#arrow-4" class="slick-prev">
                    <i class="bi bi-chevron-left"></i>
                </button>
                <button data-slick-next="#arrow-4" class="slick-next">
                    <i class="bi bi-chevron-right"></i>
                </button>
            </div>
        </div>
        <div class="container">
            <div class="counter-bg-one wow fadeInUp" data-wow-delay="0.1">
                <div class="row pt-60 mt-140 mt-lg-100">
                    <div class="col-lg-4">
                        <div class="counter-wrap-1">
                            <h3 class="number"><span class="counter">15,894</span>+</h3>
                            <p class="counter-title">Successful Pet Rescues</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="counter-wrap-1">
                            <h3 class="number">$<span class="counter">16</span>million+</h3>
                            <p class="counter-title">Successful campaigns</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="counter-wrap-1">
                            <h3 class="number"><span class="counter">2,835</span>+</h3>
                            <p class="counter-title">monthly donors</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ht-project-section end -->
    <!-- ht-blog-section start -->
    <section class="blog-section-three position-relative z-1 pt-120 pt-lg-60 pb-110 pb-lg-15">
        <img class="shape-1" src="~/assets/img/shape/shape-23.png" alt="shape">
        <img class="shape-2" src="~/assets/img/shape/shape-19.png" alt="shape">
        <div class="container">
            <div class="title-four text-center mb-70">
                <h2 class="title wow fadeInUp">Check Our Blogs</h2>
                <p class="wow fadeInUp" data-wow-delay="0.1">
                    Discovering the fascinating world of animals
                    through our blog.
                </p>
            </div>
            <div class="row gx-xl-5">
                <div class="col-lg-6">
                    <div class="blog-three wow fadeInUp" data-wow-delay="0.2">
                        <div class="blog-thumb">
                            <img src="~/assets/img/blog/blog-6.jpg" alt="blog">
                            <a href="/blog/details" class="blog-date">08 Jan</a>
                        </div>
                        <div class="blog-content">
                            <h3 class="blog-title">
                                <a href="/blog/details">
                                    Native plantings enhance deer
                                    habitat and support ecological biodiversity.
                                </a>
                            </h3>
                            <a href="/blog/details" class="blog-btn">More details</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="blog-three wow fadeInUp" data-wow-delay="0.3">
                        <div class="blog-thumb">
                            <img src="~/assets/img/blog/blog-7.jpg" alt="blog">
                            <a href="/blog/details" class="blog-date">05 Apr</a>
                        </div>
                        <div class="blog-content">
                            <h3 class="blog-title">
                                <a href="/blog/details">
                                    Endangered rhinos are majestic
                                    creatures and critical survival challenge.
                                </a>
                            </h3>
                            <a href="/blog/details" class="blog-btn">More details</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- ht-blog-section end -->
    <!-- cta-section start -->
    <div class="cta-section pt-75 pb-65" data-background="/assets/img/bg/bg-4.jpg">
        <img class="shape-1" src="~/assets/img/shape/shape-24.png" alt="shape">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-lg-6 d-flex justify-content-xxl-end justify-content-center">
                    <div class="video-wrap-2 me-xxl-5">
                        <img class="bg-shape" src="~/assets/img/shape/shape-29.png" alt="shape">
                        <a href="#" class="popup-video"><i class="bi bi-play-fill"></i></a>
                    </div>
                </div>
                <div class="col-xl-5 col-lg-6">
                    <div class="cta-wrapper text-lg-start text-center wow fadeInRight">
                        <h2 class="cta-title mb-40">
                            Donate & save Animal life
                        </h2>
                        <p>Contribute to animal welfare help save precious lives today.</p>
                        <a class="ht-btn style-5 mt-35" href="/contact">Contact us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- cta-section end -->
    <!-- contact-section start -->
    <section class="contact-section pt-140 pt-lg-60 pb-155 pb-lg-15">
        <img class="shape-1" src="~/assets/img/shape/shape-25.png" alt="shape">
        <img class="shape-2" src="~/assets/img/shape/shape-23.png" alt="shape">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="title-four text-lg-start text-center mb-70 wow fadeInUp">
                        <h2 class="title">Fundraising for Animal Care.</h2>
                        <p class="pe-xxl-5">
                            Fundraising to aid animal welfare initiatives and support programs
                            raising welfare.
                        </p>
                        <a href="/contact" class="ht-btn style-4 mt-35">Contact us</a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="contact-form-wrapper mb-50 wow fadeInUp">
                        <div class="form-title-wrap mb-20">
                            <h2 class="contact-title">Donation form</h2>
                            <p>Your email address will not be published. Required fields are marked.</p>
                        </div>
                        <form class="contact-form" action="#">
                            <div class="input-wrapper">
                                <input type="text" placeholder="Your Full Name*">
                            </div>
                            <div class="input-wrapper">
                                <input type="email" placeholder="Your Email*">
                            </div>
                            <div class="input-wrapper">
                                <input type="text" placeholder="Phone Number">
                            </div>
                            <div class="input-wrapper">
                                <input type="text" placeholder="Amount">
                            </div>
                            <button type="submit" class="submit-btn w-100">Donate now</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- contact-section end -->


</main>


<!--footer-area start-->
<footer class="footer-three pt-250 pt-lg-180" data-background="/assets/img/bg/bg-5.png">
    <img class="shape-1" src="~/assets/img/shape/shape-30.png" alt="shape">
    <img class="shape-2" src="~/assets/img/shape/shape-31.png" alt="shape">
    <img class="shape-3" src="~/assets/img/shape/shape-32.png" alt="shape">
    <img class="shape-4" src="~/assets/img/shape/shape-33.png" alt="shape">
    <div class="container">
        <div class="row mb-100 mb-lg-30">
            <div class="col-xl-3 col-lg-3 col-md-6">
                <div class="footer-widget ht-about-widget mb-30">
                    <div class="footer-logo">
                        <a href="/home/"><img src="~/assets/img/logo/header-logo-2.svg" alt="logo"></a>
                    </div>
                    <p class="description">
                        Every donation brings to creating a world where all animals and
                        loved.
                    </p>
                    <div class="social-links">
                        <a href="#"><i class="bi bi-facebook"></i></a>
                        <a href="#"><i class="bi bi-twitter"></i></a>
                        <a href="#"><i class="bi bi-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 d-lg-flex justify-content-center">
                <div class="footer-widget mb-30">
                    <h4 class="widget-title">About</h4>
                    <ul>
                        <li>
                            <a href="/home/">Home</a>
                        </li>
                        <li>
                            <a href="/services">Services</a>
                        </li>
                        <li>
                            <a href="cause-grid.html">Projects</a>
                        </li>
                        <li>
                            <a href="/about">Testimonial</a>
                        </li>
                        <li>
                            <a href="/blog/grid">Blogs</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 d-flex justify-content-lg-center">
                <div class="footer-widget mb-30">
                    <h4 class="widget-title">Links</h4>
                    <ul>
                        <li>
                            <a href="/contact">social</a>
                        </li>
                        <li>
                            <a href="/contact">Live-chat</a>
                        </li>
                        <li>
                            <a href="/contact">Self-services</a>
                        </li>
                        <li>
                            <a href="/contact">Mobile</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 d-flex justify-content-lg-end">
                <div class="footer-widget mb-30">
                    <h4 class="widget-title">Support</h4>
                    <ul>
                        <li>
                            <a href="/blog/grid">Blog</a>
                        </li>
                        <li>
                            <a href="/contact">Contact us</a>
                        </li>
                        <li>
                            <a href="/contact">Mobile</a>
                        </li>
                        <li>
                            <a href="cause-grid.html">Projects</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="copyright-wrap">
            <div class="row align-items-center">
                <div class="col-xl-6 col-lg-6">
                    <div class="copyright-text text-lg-start text-center pt-lg-0 pt-5">
                        © Copyright 2025<a href="https://themeforest.net/user/creativegigs/portfolio">Kuki</a>.
                        All
                        Rights Reserved.
                    </div>
                </div>
                <div class="col-xl-5 offset-xl-1 col-lg-6 text-lg-end text-center pt-40 pb-40">
                    <h3 class="footer-news-title text-lg-start text-center ps-xl-5 ms-xl-4">
                        Subscribe newsletter
                    </h3>
                    <div class="subscribe-form sub-form-3 text-lg-end">
                        <input type="text" placeholder="Enter Your Mail">
                        <button type="submit"><img src="~/assets/img/icon/arrow-5.svg" alt="icon"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--footer-area end-->
