
@{
    ViewBag.Title = "Index6";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <header class="theme-main-menu theme-menu-five">
        <div class="main-header-area">
            <div class="container-fluid">
                <div class="row align-items-center justify-content-between">
                    <div class="col-md-auto col-6 d-flex align-items-center justify-content-start">
                        <div class="logo-area">
                            <a class="logo" href="/home/">
                                <img src="~/assets/img/logo/header-logo-2.svg"
                                     alt="Header-logo">
                            </a>
                            <a class="sticky-logo" href="/home/">
                                <img src="~/assets/img/logo/header-logo-2.svg"
                                     alt="Header-logo">
                            </a>
                        </div>
                        <div class="main-menu-2 d-none">
                            <nav id="mobile-menu-two">
                                <ul class="menu-list">
                                    <li>
                                        <a href="#">
                                            Home
                                        </a>
                                        <ul class="sub-menu">
                                            <li>
                                                <a href="/home/">Home Style 1</a>
                                            </li>
                                            <li>
                                                <a href="/home/index2">Home Style 2</a>
                                            </li>
                                            <li>
                                                <a href="/home/index3">Home Style 3</a>
                                            </li>
                                            <li>
                                                <a href="/home/index4">Home Style 4</a>
                                            </li>

                                            <li>
                                                <a href="/home/index5">Home Style 5</a>
                                            </li>
                                            <li>
                                                <a href="/home/index6">Home Style 6</a>
                                            </li>
                                            <li>
                                                <a href="/home/index7">Home Style 7</a>
                                            </li>

                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Pages
                                        </a>
                                        <ul class="sub-menu">
                                            <li>
                                                <a href="/about">About Us</a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    Services <span class="float-end">
                                                        <i class="bi bi-chevron-down"></i>
                                                    </span>
                                                </a>
                                                <ul class="sub-menu">
                                                    <li>
                                                        <a href="/services">Services V1</a>
                                                    </li>
                                                    <li>
                                                        <a href="/services/v2">Services V2</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    Event <span class="float-end">
                                                        <i class="bi bi-chevron-down"></i>
                                                    </span>
                                                </a>
                                                <ul class="sub-menu">
                                                    <li>
                                                        <a href="/event/grid">Event Grid</a>
                                                    </li>
                                                    <li>
                                                        <a href="/event/list">Event List</a>
                                                    </li>
                                                    <li>
                                                        <a href="/event/details">Event Details</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    Volunteer <span class="float-end">
                                                        <i class="bi bi-chevron-down"></i>
                                                    </span>
                                                </a>
                                                <ul class="sub-menu">
                                                    <li>
                                                        <a href="/team/v1">Volunteer V1</a>
                                                    </li>
                                                    <li>
                                                        <a href="/team/v2">Volunteer V2</a>
                                                    </li>
                                                    <li>
                                                        <a href="/team/details">Volunteer Details</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="/contact/v2">Contact V2</a>
                                            </li>
                                            <li>
                                                <a href="/error">Error - 404</a>
                                            </li>
                                            <li>
                                                <a href="/faq">FAQ</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Causes</a>
                                        <ul class="sub-menu">
                                            <li>
                                                <a href="/causes/grid">Causes Grid</a>
                                            </li>
                                            <li>
                                                <a href="/causes/list">Causes List</a>
                                            </li>
                                            <li>
                                                <a href="/causes/details">Causes Details</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Blog</a>
                                        <ul class="sub-menu">
                                            <li>
                                                <a href="/blog/grid">Blog Grid</a>
                                            </li>
                                            <li>
                                                <a href="/blog/classic">Blog Classic</a>
                                            </li>
                                            <li>
                                                <a href="/blog/details">Blog Details</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="/contact">Contact</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-md-auto col-6">
                        <div class="d-flex align-items-center justify-content-end">
                            <div class="quote-btn d-md-inline-block d-none">
                                <a href="/contact" class="ht-btn bs-btn">Support us</a>
                            </div>
                            <div class="hamburger-menu">
                                <div class="bar-wrap">
                                    <div class="bar-1"></div>
                                    <div class="bar-2"></div>
                                    <div class="bar-3"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.theme-main-menu -->
    </header>
    <!-- header-area end -->
    <!-- slide-bar start -->
    <div class="ht-menu-wrapper">
        <div class="ht-menu-area">
            <button class="ht-menu-toggle"><i class="bi bi-x-lg"></i></button>
            <div class="mobile-logo">
                <a href="/home/">
                    <img src="~/assets/img/logo/header-logo-2.svg" alt="logo">
                </a>
            </div>
            <div class="mobile-menu-wrapper menu-wrap-2">
                <div class="mobile-menu-2"></div>
            </div>
            <div class="offset-widget mb-40">
                <div class="info-widget">
                    <h4 class="offset-title mb-20">About Us</h4>
                    <p class="mb-30">
                        But I must explain to you how all this mistaken idea of denouncing pleasure and
                        praising pain was born and will give you a complete account of the system and
                        expound the actual teachings of the great explore
                    </p>
                </div>
            </div>
            <div class="offset-widget mb-30 pr-10">
                <div class="info-widget info-widget2">
                    <h4 class="offset-title mb-20">Contact Info</h4>
                    <p>
                        <i class="fal fa-address-book"></i>
                        23/A, Miranda City Likaoli Prikano, Dope
                    </p>
                    <p>
                        <i class="fal fa-phone"></i>
                        +0989 7876 9865 9
                    </p>
                    <p>
                        <i class="fal fa-envelope-open"></i>
                        info@example.com
                    </p>
                </div>
            </div>
            <div class="login-btn text-center">
                <a class="ht_btn w-100" href="#">Login</a>
            </div>

        </div>
    </div>
    <!-- side-bar end -->


    <main>

        <!-- theme-banner-two start -->
        <section class="theme-banner-five" data-background="/assets/img/hero/hero-img-5.jpg">
            <div class="banner-wrapper">
                <div class="hero-content">
                    <h3 class="sub-title wow fadeInUp">save</h3>
                    <h1 class="main-title wow fadeInUp" data-wow-delay="0.1">
                        FOREST <img class="title-shape"
                                    src="~/assets/img/shape/shape-45.png" alt="shape">
                    </h1>
                    <p class="description wow fadeInUp" data-wow-delay="0.2">
                        Collaborate with us to protect and
                        revive our essential forests, ensuring
                        sustainable future.
                    </p>
                    <a href="/contact" class="ht-btn bstyle wow fadeInUp" data-wow-delay="0.3">donate now</a>
                    <div class="hero-video wow fadeInUp">
                        <span class="video-title">Forests encompass 30%<br /> of Earth's land.</span>
                        <a href="https://www.youtube.com/watch?v=lTxn2BuqyzU" class="popup-video">
                            <i class="bi bi-play-fill"></i>
                        </a>
                    </div>
                    <div class="social-links wow fadeInRight">
                        <a href="#"><i class="bi bi-facebook"></i></a>
                        <a href="#"><i class="bi bi-twitter"></i></a>
                        <a href="#"><i class="bi bi-instagram"></i></a>
                    </div>
                </div>
            </div><!-- .container -->
        </section>
        <!-- theme-banner-two end -->
        <!-- fact-section start -->
        <section class="theme-bg-3 fact-section pt-80 pb-35">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="title-one text-lg-start text-center mb-45 wow fadeInLeft">
                            <h2 class="fact-title">We’ve people company maintain</h2>
                        </div>
                    </div>
                    <div class="col-lg-6 ps-xxl-5">
                        <div class="row row-cols-lg-2 row-cols-md-2 row-cols-1 wow fadeInRight">
                            <div class="col d-flex justify-content-center justify-content-lg-start">
                                <div class="counter-wrap-3">
                                    <h3 class="number">$<span class="counter">9.1</span>b+</h3>
                                    <p class="counter-title">Donation</p>
                                </div>
                            </div>
                            <div class="col d-flex justify-content-center justify-content-lg-end">
                                <div class="counter-wrap-3">
                                    <h3 class="number"><span class="counter">1.2</span>k</h3>
                                    <p class="counter-title">Volunteer</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- fact-section end -->
        <!-- service-section start -->
        <section class="service-section-two position-relative z-1 pt-180 pb-40 pt-lg-60 pb-lg-30">
            <img class="shape-1 position-absolute top-0 mt-65 start-0 d-none d-xxl-inline-block"
                 src="~/assets/img/shape/shape-49.png" alt="shape">
            <img class="shape-2 position-absolute top-0 mt-65 end-0 d-none d-xxl-inline-block"
                 src="~/assets/img/shape/shape-50.png" alt="shape">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="title-six text-center mb-70">
                            <h5 class="sub-title wow fadeInUp">services</h5>
                            <h2 class="title wow fadeInUp" data-wow-delay="0.1">
                                Protect the Planet it starts with
                                your Actions.
                            </h2>
                            <p class="wow fadeInUp" data-wow-delay="0.2">
                                Ensuring its vitality for the well-being of
                                present and future generations.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center justify-content-center">
                    <div class="col-lg-4">
                        <div class="service-wrap-2 wow fadeInUp" data-wow-delay="0.3">
                            <div class="icon">
                                <img src="~/assets/img/media/media-25.png" alt="media">
                            </div>
                            <div class="service-number">1</div>
                            <h4 class="service-title">
                                <a href="#">Save Plant</a>
                            </h4>
                            <p class="description">
                                Complete your profile with all the info to get attention
                                of client.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="service-wrap-2 wow fadeInUp" data-wow-delay="0.4">
                            <div class="icon">
                                <img src="~/assets/img/media/media-26.png" alt="media">
                            </div>
                            <div class="service-number">2</div>
                            <h4 class="service-title">
                                <a href="#">Recycle-bin</a>
                            </h4>
                            <p class="description">
                                Complete your profile with all the info to get attention
                                of client.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="service-wrap-2 wow fadeInUp" data-wow-delay="0.5">
                            <div class="icon">
                                <img src="~/assets/img/media/media-27.png" alt="media">
                            </div>
                            <div class="service-number">3</div>
                            <h4 class="service-title">
                                <a href="#">Green Energy</a>
                            </h4>
                            <p class="description">
                                Complete your profile with all the info to get attention
                                of client.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- service-section end -->
        <!-- about-section start -->
        <section class="black-bg about-section">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="text-wrapper-two wow fadeInLeft">
                            <h5 class="sub-title">about us</h5>
                            <h2 class="title mb-60">
                                Every month, we donate <span class="highlight">$500,000</span>
                                to
                                address
                                environmental concerns
                                & promote.
                            </h2>
                            <a class="ht-btn style-8" href="/about">More About Us</a>
                            <div class="icon d-none d-md-inline-block">
                                <img src="~/assets/img/icon/icon-21.svg" alt="quote">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="img-wrapper-four text-lg-end text-center wow fadeInRight">
                            <img class="main-img img-fluid" src="~/assets/img/media/media-28.png" alt="media">
                            <img class="shape-img img-fluid" src="~/assets/img/shape/shape-46.png" alt="shape">
                            <div class="counter-wrap-5 position-absolute z-1">
                                <div class="icon">
                                    <i class="bi bi-check-lg"></i>
                                </div>
                                <div class="content">
                                    <h3 class="number"><span class="counter">57</span>%</h3>
                                    <p class="counter-title">successful campaigns</p>
                                </div>
                            </div>
                            <div class="counter-wrap-4 position-absolute z-1">
                                <div class="icon">
                                    <i class="bi bi-check-lg"></i>
                                </div>
                                <div class="content">
                                    <h3 class="number"><span class="counter">374</span>+</h3>
                                    <p class="counter-title">volunteers</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- about-section end -->
        <!-- cause-section start -->
        <section class="cause-section-four dot-style-5 position-relative z-2 pt-120 pb-120 pt-lg-60 pb-lg-75">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-lg-10">
                        <div class="title-six text-center mb-70">
                            <h5 class="sub-title wow fadeInUp">causes</h5>
                            <h2 class="title wow fadeInUp" data-wow-delay="0.1">
                                Even small tokens can have
                                significant effects.
                            </h2>
                            <p class="wow fadeInUp" data-wow-delay="0.2">
                                Small offerings can make a significant
                                difference, creating substantial impacts.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid cause-slider-four">
                <div class="row ht-carousel" data-slide-show="4" data-xl-slide-show="3" data-ml-slide-show="3"
                     data-lg-slide-show="2" data-md-slide-show="2" data-sm-slide-show="1" data-dots="true">
                    <div class="col-lg-4">
                        <div class="causes-wrap-4">
                            <div class="cause-thumb">
                                <img src="~/assets/img/cause/img-8.jpg" alt="cause">
                                <div class="cause-tag">children</div>
                            </div>
                            <div class="cause-content">
                                <h3 class="cause-title">
                                    <a href="/causes/details">
                                        Sustaining life the vital
                                        role of ecology environment
                                    </a>
                                </h3>
                                <p class="description">
                                    Unlocking the doors to a brighter tomorrow, we are education
                                    for all.
                                </p>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="64"
                                         aria-valuemin="0" aria-valuemax="100">
                                        <span class="progress-value">64%</span>
                                    </div>
                                </div>

                                <div class="fund-wrap d-flex align-items-center justify-content-between">
                                    <h5 class="fund"><span>Goal:</span> $76,000</h5>
                                    <h5 class="fund"><span>Raised:</span> $56,000</h5>
                                </div>
                                <a href="/causes/details" class="donation-btn">Donate Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="causes-wrap-4 cs-style-2">
                            <div class="cause-thumb">
                                <img src="~/assets/img/cause/img-9.jpg" alt="cause">
                                <div class="cause-tag">children</div>
                            </div>
                            <div class="cause-content">
                                <h3 class="cause-title">
                                    <a href="/causes/details">
                                        Sowing sustainability the
                                        impact of planting trees
                                    </a>
                                </h3>
                                <p class="description">
                                    Freshwater is the elixir of life, sustaining ecosystems,
                                    communities.
                                </p>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="72"
                                         aria-valuemin="0" aria-valuemax="100">
                                        <span class="progress-value">72%</span>
                                    </div>
                                </div>
                                <div class="fund-wrap d-flex align-items-center justify-content-between">
                                    <h5 class="fund"><span>Goal:</span> $76,000</h5>
                                    <h5 class="fund"><span>Raised:</span> $50,000</h5>
                                </div>
                                <a href="/causes/details" class="donation-btn">Donate Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="causes-wrap-4 cs-style-3">
                            <div class="cause-thumb">
                                <img src="~/assets/img/cause/img-10.jpg" alt="cause">
                                <div class="cause-tag">children</div>
                            </div>
                            <div class="cause-content">
                                <h3 class="cause-title">
                                    <a href="/causes/details">
                                        Secrets of the green jungle
                                        the mysteries of rainforests
                                    </a>
                                </h3>
                                <p class="description">
                                    School education forms the bedrock of knowledge fostering
                                    social.
                                </p>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="86"
                                         aria-valuemin="0" aria-valuemax="100">
                                        <span class="progress-value">86%</span>
                                    </div>
                                </div>

                                <div class="fund-wrap d-flex align-items-center justify-content-between">
                                    <h5 class="fund"><span>Goal:</span> $216,000</h5>
                                    <h5 class="fund"><span>Goal:</span> $140,000</h5>
                                </div>
                                <a href="/causes/details" class="donation-btn">Donate Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="causes-wrap-4">
                            <div class="cause-thumb">
                                <img src="~/assets/img/cause/img-11.jpg" alt="cause">
                                <div class="cause-tag">children</div>
                            </div>
                            <div class="cause-content">
                                <h3 class="cause-title">
                                    <a href="/causes/details">
                                        Stand for the Trees:
                                        Mobilizing to Save Our Forests
                                    </a>
                                </h3>
                                <p class="description">
                                    Unlocking the doors to a brighter tomorrow, we are education
                                    for all.
                                </p>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="64"
                                         aria-valuemin="0" aria-valuemax="100">
                                        <span class="progress-value">64%</span>
                                    </div>
                                </div>
                                <div class="fund-wrap d-flex align-items-center justify-content-between">
                                    <h5 class="fund"><span>Goal:</span> $58,000</h5>
                                    <h5 class="fund"><span>Raised:</span> $76,000</h5>
                                </div>
                                <a href="/causes/details" class="donation-btn">Donate Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="causes-wrap-4">
                            <div class="cause-thumb">
                                <img src="~/assets/img/cause/img-8.jpg" alt="cause">
                                <div class="cause-tag">children</div>
                            </div>
                            <div class="cause-content">
                                <h3 class="cause-title">
                                    <a href="/causes/details">
                                        Sustaining life the vital
                                        role of ecology environment
                                    </a>
                                </h3>
                                <p class="description">
                                    Unlocking the doors to a brighter tomorrow, we are education
                                    for all.
                                </p>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="64"
                                         aria-valuemin="0" aria-valuemax="100">
                                        <span class="progress-value">64%</span>
                                    </div>
                                </div>

                                <div class="fund-wrap d-flex align-items-center justify-content-between">
                                    <h5 class="fund"><span>Goal:</span> $76,000</h5>
                                    <h5 class="fund"><span>Raised:</span> $56,000</h5>
                                </div>
                                <a href="/causes/details" class="donation-btn">Donate Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="causes-wrap-4">
                            <div class="cause-thumb">
                                <img src="~/assets/img/cause/img-9.jpg" alt="cause">
                                <div class="cause-tag">children</div>
                            </div>
                            <div class="cause-content">
                                <h3 class="cause-title">
                                    <a href="/causes/details">
                                        Sowing sustainability the
                                        impact of planting trees
                                    </a>
                                </h3>
                                <p class="description">
                                    Freshwater is the elixir of life, sustaining ecosystems,
                                    communities.
                                </p>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="72"
                                         aria-valuemin="0" aria-valuemax="100">
                                        <span class="progress-value">72%</span>
                                    </div>
                                </div>
                                <div class="fund-wrap d-flex align-items-center justify-content-between">
                                    <h5 class="fund"><span>Goal:</span> $76,000</h5>
                                    <h5 class="fund"><span>Raised:</span> $50,000</h5>
                                </div>
                                <a href="/causes/details" class="donation-btn">Donate Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- cause-section end -->
        <!-- volunteer-section start -->
        <section class="volunteer-section position-relative z-1 pt-180 pt-lg-60 pb-135 pb-lg-15">
            <img class="shape-1 position-absolute top-0 mt-130 start-0 d-none d-xxl-inline-block"
                 src="~/assets/img/shape/shape-47.png" alt="shape">
            <img class="shape-2 position-absolute top-0 mt-130 end-0 d-none d-xxl-inline-block"
                 src="~/assets/img/shape/shape-48.png" alt="shape">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="img-wrapper-five wow fadeInUp">
                            <div class="img-col d-none d-md-inline-block">
                                <div class="main-img-1">
                                    <img src="~/assets/img/media/media-29.png" alt="media">
                                </div>
                                <div class="main-img-2">
                                    <img src="~/assets/img/media/media-30.png" alt="media">
                                </div>
                            </div>
                            <div class="img-col main-img-3">
                                <img class="img-fluid" src="~/assets/img/media/media-31.png" alt="media">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="title-six mb-45 ps-xxl-5 wow fadeInUp">
                            <h5 class="sub-title">Join us</h5>
                            <h2 class="title">Volunteer and assist the less privileged community.</h2>
                            <p>
                                Delve into the concept that volunteering extends beyond a mere activity becoming and
                                growth.
                            </p>
                            <a href="/blog/details" class="ht-btn style-9 mt-40">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- volunteer-section end -->
        <!-- feedback-section start -->
        <div class="grey-bg feedback-section-four arrow-style-6 position-relative z-1 pt-180 pt-lg-60 pb-180 pb-lg-60">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 wow fadeInLeft">
                        <div class="title-six mb-70 mb-md-30">
                            <h5 class="sub-title">Testimonial</h5>
                            <h2 class="title">Over 1000+ people have faith in us.</h2>
                        </div>
                    </div>
                    <div class="col-lg-6 d-lg-flex align-items-center mb-70 wow fadeInRight">
                        <div class="title-six">
                            <p>
                                The trust and confidence of over thousand individuals solidify and validate our
                                excellence.
                            </p>
                        </div>
                        <div class="right-btn">
                            <a href="/about" class="arrow-btn">
                                <img src="~/assets/img/icon/arrow-1.svg"
                                     alt="arrow">
                            </a>
                        </div>
                    </div>
                </div>
                <div id="arrow-6" class="row gx-xl-5 ht-carousel" data-slide-show="2" data-lg-slide-show="2"
                     data-md-slide-show="1" data-sm-slide-show="1">
                    <div class="col-lg-6">
                        <div class="feedback-wrap-4">
                            <img class="author" src="~/assets/img/media/media-32.jpg" alt="author">
                            <p class="feedback-text">
                                I'm always eager to participate in charity events they've
                                offered me invaluable experiences taking places
                            </p>
                            <div class="rating">
                                <a href="#"><i class="bi bi-star"></i></a>
                                <a href="#"><i class="bi bi-star"></i></a>
                                <a href="#"><i class="bi bi-star"></i></a>
                                <a href="#"><i class="bi bi-star"></i></a>
                                <a href="#"><i class="bi bi-star-fill"></i></a>
                                <a href="#"><i class="bi bi-star-fill"></i></a>
                                <a href="#"><i class="bi bi-star-fill"></i></a>
                                <a href="#"><i class="bi bi-star-fill"></i></a>
                                <a href="#"><i class="bi bi-star"></i></a>
                            </div>
                            <div class="author-info">
                                <h5 class="name">rashed kabir, <span class="designation">designer</span></h5>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="feedback-wrap-4">
                            <img class="author" src="~/assets/img/media/media-33.jpg" alt="author">
                            <p class="feedback-text">
                                I'm always eager to participate in charity events they've
                                offered me invaluable experiences taking places
                            </p>
                            <div class="rating">
                                <a href="#"><i class="bi bi-star"></i></a>
                                <a href="#"><i class="bi bi-star"></i></a>
                                <a href="#"><i class="bi bi-star"></i></a>
                                <a href="#"><i class="bi bi-star"></i></a>
                                <a href="#"><i class="bi bi-star-fill"></i></a>
                                <a href="#"><i class="bi bi-star-fill"></i></a>
                                <a href="#"><i class="bi bi-star-fill"></i></a>
                                <a href="#"><i class="bi bi-star-fill"></i></a>
                                <a href="#"><i class="bi bi-star"></i></a>
                            </div>
                            <div class="author-info">
                                <h5 class="name">mahmud-amin, <span class="designation">designer</span></h5>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="feedback-wrap-4">
                            <img class="author" src="~/assets/img/media/media-32.jpg" alt="author">
                            <p class="feedback-text">
                                I'm always eager to participate in charity events they've
                                offered me invaluable experiences taking places
                            </p>
                            <div class="rating">
                                <a href="#"><i class="bi bi-star"></i></a>
                                <a href="#"><i class="bi bi-star"></i></a>
                                <a href="#"><i class="bi bi-star"></i></a>
                                <a href="#"><i class="bi bi-star"></i></a>
                                <a href="#"><i class="bi bi-star-fill"></i></a>
                                <a href="#"><i class="bi bi-star-fill"></i></a>
                                <a href="#"><i class="bi bi-star-fill"></i></a>
                                <a href="#"><i class="bi bi-star-fill"></i></a>
                                <a href="#"><i class="bi bi-star"></i></a>
                            </div>
                            <div class="author-info">
                                <h5 class="name">rashed kabir, <span class="designation">designer</span></h5>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="feedback-wrap-4">
                            <img class="author" src="~/assets/img/media/media-33.jpg" alt="author">
                            <p class="feedback-text">
                                I'm always eager to participate in charity events they've
                                offered me invaluable experiences taking places
                            </p>
                            <div class="rating">
                                <a href="#"><i class="bi bi-star"></i></a>
                                <a href="#"><i class="bi bi-star"></i></a>
                                <a href="#"><i class="bi bi-star"></i></a>
                                <a href="#"><i class="bi bi-star"></i></a>
                                <a href="#"><i class="bi bi-star-fill"></i></a>
                                <a href="#"><i class="bi bi-star-fill"></i></a>
                                <a href="#"><i class="bi bi-star-fill"></i></a>
                                <a href="#"><i class="bi bi-star-fill"></i></a>
                                <a href="#"><i class="bi bi-star"></i></a>
                            </div>
                            <div class="author-info">
                                <h5 class="name">mahmud-amin, <span class="designation">designer</span></h5>

                            </div>
                        </div>
                    </div>
                </div>
                <button data-slick-prev="#arrow-6" class="slick-prev">
                    <i class="bi bi-chevron-left"></i>
                </button>
                <button data-slick-next="#arrow-6" class="slick-next">
                    <i class="bi bi-chevron-right"></i>
                </button>
            </div>
        </div>
        <!-- feedback-section end -->
        <!-- faq-section start -->
        <section class="faq-section position-relative z-1 pt-130 pb-130 pt-lg-60 pb-lg-35">
            <img class="shape-1 position-absolute top-0 mt-65 start-0 d-none d-xxl-inline-block"
                 src="~/assets/img/shape/shape-49.png" alt="shape">
            <img class="shape-2 position-absolute top-0 mt-65 end-0 d-none d-xxl-inline-block"
                 src="~/assets/img/shape/shape-50.png" alt="shape">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-10 col-lg-8">
                        <div class="title-six text-center mb-70 px-xxl-5">
                            <h5 class="sub-title wow fadeInUp">FAQ</h5>
                            <h2 class="title px-xxl-5 mx-xxl-5 wow fadeInUp" data-wow-delay="0.1">
                                Frequently asked &
                                question
                            </h2>
                            <p class="wow fadeInUp" data-wow-delay="0.2">
                                We're here to ensure you have the
                                information you need for a seamless experience.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-10">
                        <div class="faq-que-list">
                            <div class="accordion accordion-one" id="accordion">
                                <div class="accordion-item wow fadeInUp" data-wow-delay="0.3">
                                    <h2 class="accordion-header" id="headingOne">
                                        <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#collapseOne"
                                                aria-expanded="false" aria-controls="collapseOne">
                                            <span class="number">01.</span> What is your organization’s mission?
                                        </button>
                                    </h2>
                                    <div id="collapseOne" class="accordion-collapse collapse"
                                         aria-labelledby="headingOne" data-bs-parent="#accordion" style="">
                                        <div class="accordion-body">
                                            <p>
                                                Through strategic partnerships, transparent practices, and a
                                                dedicated team, we aim to specific goals or outcomes
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item wow fadeInUp" data-wow-delay="0.4">
                                    <h2 class="accordion-header" id="headingTwo">
                                        <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                                                aria-expanded="false" aria-controls="collapseTwo">
                                            <span class="number">02.</span> What kind of organization we are?
                                        </button>
                                    </h2>
                                    <div id="collapseTwo" class="accordion-collapse collapse"
                                         aria-labelledby="headingTwo" data-bs-parent="#accordion">
                                        <div class="accordion-body">
                                            <p>
                                                Through strategic partnerships, transparent practices, and a
                                                dedicated team, we aim to specific goals or outcomes
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item wow fadeInUp" data-wow-delay="0.5">
                                    <h2 class="accordion-header" id="headingThree">
                                        <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#collapseThree"
                                                aria-expanded="false" aria-controls="collapseThree">
                                            <span class="number">03.</span> Is our volunteer done every work
                                            perfectly?
                                        </button>
                                    </h2>
                                    <div id="collapseThree" class="accordion-collapse collapse"
                                         aria-labelledby="headingThree" data-bs-parent="#accordion">
                                        <div class="accordion-body">
                                            <p>
                                                Through strategic partnerships, transparent practices, and a
                                                dedicated team, we aim to specific goals or outcomes
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item wow fadeInUp" data-wow-delay="0.6">
                                    <h2 class="accordion-header" id="headingFour">
                                        <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#collapseFour"
                                                aria-expanded="false" aria-controls="collapseThree">
                                            <span class="number">04.</span> What is the purpose of a charity
                                            website?
                                        </button>
                                    </h2>
                                    <div id="collapseFour" class="accordion-collapse collapse"
                                         aria-labelledby="headingFour" data-bs-parent="#accordion">
                                        <div class="accordion-body">
                                            <p>
                                                Through strategic partnerships, transparent practices, and a
                                                dedicated team, we aim to specific goals or outcomes
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item wow fadeInUp" data-wow-delay="0.7">
                                    <h2 class="accordion-header" id="headingFive">
                                        <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#collapseFive"
                                                aria-expanded="false" aria-controls="collapseFive">
                                            <span class="number">05.</span> How can i get involved in the
                                            organization’s mission?
                                        </button>
                                    </h2>
                                    <div id="collapseFive" class="accordion-collapse collapse"
                                         aria-labelledby="headingFive" data-bs-parent="#accordion">
                                        <div class="accordion-body">
                                            <p>
                                                Through strategic partnerships, transparent practices, and a
                                                dedicated team, we aim to specific goals or outcomes
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item wow fadeInUp" data-wow-delay="0.8">
                                    <h2 class="accordion-header" id="headingSix">
                                        <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#collapseSix"
                                                aria-expanded="false" aria-controls="collapseSix">
                                            <span class="number">06.</span> Where can i find your financial
                                            documents?
                                        </button>
                                    </h2>
                                    <div id="collapseSix" class="accordion-collapse collapse"
                                         aria-labelledby="headingSix" data-bs-parent="#accordion">
                                        <div class="accordion-body">
                                            <p>
                                                Through strategic partnerships, transparent practices, and a
                                                dedicated team, we aim to specific goals or outcomes
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- faq-section end -->
        <!-- contact-section-one end -->
        <section class="black-bg contact-section pt-120 pb-75 pt-lg-60 pb-lg-15">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 mb-45">
                        <div class="contact-form-wrapper-3 wow fadeInLeft">
                            <form class="contact-form form-3" action="#">
                                <div class="input-wrapper">
                                    <input type="text" placeholder="Name">
                                </div>
                                <div class="input-wrapper">
                                    <input type="email" placeholder="Email">
                                </div>
                                <div class="input-wrapper message">
                                    <textarea name="message" placeholder="Amount"></textarea>
                                </div>
                                <button type="submit" class="submit-btn">Donate now</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-6 ps-xxl-4 mb-45 wow fadeInRight">
                        <div class="title-one mb-30">
                            <h2 class="title text-white">
                                Transform lives with our secure <span class="text-theme3">Donation</span> form.
                            </h2>
                            <p class="text-white opacity-75">
                                Whether it's a one-time contribution or every
                                donation fuels our mission to create community.
                            </p>
                        </div>
                        <p class="text-white opacity-50 mb-0">for Quick Reach call us</p>
                        <p class="fw-medium text-white">+(316) 555-0116</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- contact-section-one end -->
        <!-- newsletter-section start -->
        <div class="newsletter-section position-relative z-1 pt-130 pt-lg-60 pb-85 pb-lg-50">
            <img class="shape-1 position-absolute top-0 mt-45 start-0 d-none d-xl-inline-block"
                 src="~/assets/img/shape/shape-52.png" alt="shape">
            <img class="shape-2 position-absolute top-0 mt-45 end-0 d-none d-xl-inline-block"
                 src="~/assets/img/shape/shape-51.png" alt="shape">
            <div class="container">
                <div class="row justify-content-center align-items-center">
                    <div class="col-xl-8 col-lg-6">
                        <div class="title-one text-center">
                            <h2 class="title wow fadeInUp">Subscribe to Regular Newsletters.</h2>
                        </div>
                        <div class="subscribe-form sub-form-5 m-auto wow fadeInUp" data-wow-delay="0.1">
                            <input type="text" placeholder="Enter Your Mail">
                            <button type="submit">Subscribe</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- newsletter-section end -->



    </main>


    <!--footer-area start-->
    <footer class="footer-five pt-30">
        <div class="container custom-container">
            <div class="row mb-30">
                <div class="col-xl-3 col-lg-3 col-md-6">
                    <div class="footer-widget ht-about-widget mb-30">
                        <div class="footer-logo">
                            <a href="/home/"><img src="~/assets/img/logo/header-logo-1.svg" alt="logo"></a>
                        </div>
                        <ul>
                            <li>
                                <a href="mailto:infocharity816@gmail.com">infocharity816@gmail.com</a>
                            </li>
                            <li>
                                <a href="#">+1 123 456 7890</a>
                            </li>
                        </ul>
                        <div class="social-links">
                            <a href="#"><i class="bi bi-facebook"></i></a>
                            <a href="#"><i class="bi bi-twitter"></i></a>
                            <a href="#"><i class="bi bi-instagram"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6">
                    <div class="footer-widget ms-xxl-5 mb-30">
                        <h4 class="widget-title">Company</h4>
                        <ul>
                            <li>
                                <a href="/about">About us</a>
                            </li>
                            <li>
                                <a href="/contact">Carrer</a>
                            </li>
                            <li>
                                <a href="/blog/grid">Blogs</a>
                            </li>
                            <li>
                                <a href="/about">Testimonial</a>
                            </li>
                            <li>
                                <a href="/contact">Contact us</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 d-flex justify-content-lg-center">
                    <div class="footer-widget mb-30">
                        <h4 class="widget-title">Services</h4>
                        <ul>
                            <li>
                                <a href="/about">Donation onlines</a>
                            </li>
                            <li>
                                <a href="/contact">Donor centers</a>
                            </li>
                            <li>
                                <a href="/blog/grid">Volunteering</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 d-flex justify-content-lg-end">
                    <div class="footer-widget mb-30">
                        <h4 class="widget-title">Donations</h4>
                        <ul>
                            <li>
                                <a href="/about">Donor wall</a>
                            </li>
                            <li>
                                <a href="/contact">Donation confirmation</a>
                            </li>
                            <li>
                                <a href="/blog/grid">Donation history</a>
                            </li>
                            <li>
                                <a href="/about">Donations details</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="copyright-wrap">
                <div class="row align-items-center">
                    <div class="col-xl-6 col-lg-6">
                        <div class="copyright-text text-lg-start text-center mb-lg-0 mb-md-4">
                            © Copyright 2025<a href="https://themeforest.net/user/creativegigs/portfolio">Kuki</a>.
                            All
                            Rights Reserved.
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 text-xl-end text-center">
                        <ul class="footer-menu">
                            <li><a href="#">Privacy policy.</a></li>
                            <li><a href="#">Contact us.</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>