@{
    ViewBag.Title = "details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<header class="theme-main-menu theme-menu-two">
    <div class="main-header-area pt-25 pb-15">
        <div class="container-fluid">
            <div class="row align-items-center justify-content-between">
                <div class="col-md-auto col-6">
                    <div class="logo-area">
                        <a class="logo" href="/home/">
                            <img src="~/assets/img/logo/header-logo-2.svg"
                                 alt="Header-logo">
                        </a>
                        <a class="sticky-logo" href="/home/">
                            <img src="~/assets/img/logo/header-logo-1.svg"
                                 alt="Header-logo">
                        </a>
                    </div>
                </div>
                <div class="col-md-auto d-lg-inline-flex align-items-center justify-content-center d-none">
                    <div class="main-menu">
                        <nav id="mobile-menu">
                            <ul class="menu-list">
                                <li>
                                    <a href="#">
                                        Home
                                    </a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a href="/home/">Home Style 1</a>
                                        </li>
                                        <li>
                                            <a href="/home/index2">Home Style 2</a>
                                        </li>
                                        <li>
                                            <a href="/home/index3">Home Style 3</a>
                                        </li>
                                        <li>
                                            <a href="/home/index4">Home Style 4</a>
                                        </li>

                                        <li>
                                            <a href="/home/index5">Home Style 5</a>
                                        </li>
                                        <li>
                                            <a href="/home/index6">Home Style 6</a>
                                        </li>
                                        <li>
                                            <a href="/home/index7">Home Style 7</a>
                                        </li>

                                    </ul>
                                </li>
                                <li>
                                    <a href="#">
                                        Pages
                                    </a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a href="/about">About Us</a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                Services
                                                <span class="float-end">
                                                    <i class="bi bi-chevron-down"></i>
                                                </span>
                                            </a>
                                            <ul class="sub-menu">
                                                <li>
                                                    <a href="/services">Services V1</a>
                                                </li>
                                                <li>
                                                    <a href="/services/v2">Services V2</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">
                                                Event
                                                <span class="float-end">
                                                    <i class="bi bi-chevron-down"></i>
                                                </span>
                                            </a>
                                            <ul class="sub-menu">
                                                <li>
                                                    <a href="/event/grid">Event Grid</a>
                                                </li>
                                                <li>
                                                    <a href="/event/list">Event List</a>
                                                </li>
                                                <li>
                                                    <a href="/event/details">Event Details</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">
                                                Volunteer
                                                <span class="float-end">
                                                    <i class="bi bi-chevron-down"></i>
                                                </span>
                                            </a>
                                            <ul class="sub-menu">
                                                <li>
                                                    <a href="/team/v1">Volunteer V1</a>
                                                </li>
                                                <li>
                                                    <a href="/team/v2">Volunteer V2</a>
                                                </li>
                                                <li>
                                                    <a href="/team/details">Volunteer Details</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="/contact/v2">Contact V2</a>
                                        </li>
                                        <li>
                                            <a href="/error">Error - 404</a>
                                        </li>
                                        <li>
                                            <a href="/faq">FAQ</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Causes</a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a href="/causes/grid">Causes Grid</a>
                                        </li>
                                        <li>
                                            <a href="/causes/list">Causes List</a>
                                        </li>
                                        <li>
                                            <a href="/causes/details">Causes Details</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Blog</a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a href="/blog/grid">Blog Grid</a>
                                        </li>
                                        <li>
                                            <a href="/blog/classic">Blog Classic</a>
                                        </li>
                                        <li>
                                            <a href="/blog/details">Blog Details</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="/contact">Contact</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-md-auto col-6">
                    <div class="right-nav d-flex align-items-center justify-content-end">
                        <div class="quote-btn d-lg-inline-block d-none">
                            <a href="/contact" class="ht-btn bs-btn">Donate Now</a>
                        </div>
                        <div class="hamburger-menu d-lg-none d-inline-flex">
                            <div class="open-sidebar">
                                <div class="bar-wrap">
                                    <div class="bar-1"></div>
                                    <div class="bar-2"></div>
                                    <div class="bar-3"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.theme-main-menu -->
</header>
<!-- header-area end -->
<!-- slide-bar start -->
<div class="ht-menu-wrapper">
    <div class="ht-menu-area">
        <button class="ht-menu-toggle">
            <i class="bi bi-x-lg"></i>
        </button>
        <div class="mobile-logo">
            <a href="/home/">
                <img src="~/assets/img/logo/header-logo-2.svg" alt="logo">
            </a>
        </div>
        <div class="mobile-menu-wrapper d-lg-none d-inline-block">
            <div class="mobile-menu"></div>
        </div>
        <div class="offset-widget mb-40">
            <div class="info-widget">
                <h4 class="offset-title mb-20">About Us</h4>
                <p class="mb-30">
                    But I must explain to you how all this mistaken idea of denouncing pleasure and
                    praising pain was born and will give you a complete account of the system and
                    expound the actual teachings of the great explore
                </p>
            </div>
        </div>
        <div class="offset-widget mb-30 pr-10">
            <div class="info-widget info-widget2">
                <h4 class="offset-title mb-20">Contact Info</h4>
                <p>
                    <i class="fal fa-address-book"></i>
                    23/A, Miranda City Likaoli Prikano, Dope
                </p>
                <p>
                    <i class="fal fa-phone"></i>
                    +0989 7876 9865 9
                </p>
                <p>
                    <i class="fal fa-envelope-open"></i>
                    info@example.com
                </p>
            </div>
        </div>
        <div class="login-btn text-center">
            <a class="ht-btn style-5" href="#">Login</a>
        </div>

    </div>
</div>
<!-- side-bar end -->


<main>

<!-- page-title-area start -->
<div class="page-title-area">
    <div class="breadcrumb-wrapper" data-background="/assets/img/page-title/page-title-bg.jpg">
        <img class="shape-1" src="~/assets/img/shape/shape-81.png" alt="shape">
        <img class="shape-2" src="~/assets/img/shape/shape-82.png" alt="shape">
        <div class="container">
            <div class="breadcrumb-content text-center">
                <h2 class="breadcrumb-title">Blog Details</h2>
                <ul class="breadcrumb-menu">
                    <li>
                        <a href="/home/">Home</a>
                    </li>
                    <li>
                        <a href="#">Pages</a>
                    </li>
                    <li>
                        <a href="#">Blog Details</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- page-title-area end -->
<!--blog-details-section start-->
<div class="blog-details-section pt-180 pt-lg-100 pb-95 pb-lg-40">
<div class="container">
<div class="row">
<div class="col-lg-8">
<div class="blog-details-wrapper mb-45">
<div class="classic-style">
    <h2 class="blog-title mb-5">
        <a href="/blog/details">
            Passages undergo various
            alterations over time.
        </a>
    </h2>
    <a href="/blog/details" class="blog-thumb">
        <img class="w-100" src="~/assets/img/blog/blog-17.jpg" alt="blog">
    </a>
    <div class="blog-content">
        <div class="blog-meta">
            <a href="/blog/details">Esther Howard</a>
            <span class="divider"></span>
            <a href="/blog/details">Comments(02)</a>
            <span class="divider"></span>
            <a href="/blog/details">05 Oct 2024</a>
        </div>
        <p class="fs-22">
            Over time, passages transform through numerous alterations,
            reflecting changing interpretations, linguistic shifts, and cultural
            dynamics, highlighting the
            fluidity and adaptability of written expression across generations.
        </p>
    </div>
</div>

<blockquote class="blockquote mb-65">
    <div class="quote-icon">
        <img src="~/assets/img/icon/quote.png" alt="author">
    </div>
    <p>Even tiny actions can significantly impact the lives of the less fortunate.</p>
    <div class="blockquote-footer">
        Denis Robinson
    </div>
</blockquote>

<h3 class="blog-details-title mt-4 mb-4">Gifts elevate & enrich lives.</h3>
<p>
    Acts of giving elevate and enrich lives by spreading joy, fostering connections, and
    creating meaningful experiences for all involved.
</p>

<div class="feature-list-three pt-5">
    <span class="icon">
        <i class="bi bi-check-lg"></i>
    </span>
    <span class="feature-title">Residential and commercial cleaning expertise</span>
</div>
<div class="feature-list-three">
    <span class="icon">
        <i class="bi bi-check-lg"></i>
    </span>
    <span class="feature-title">Crystal-clear windows guaranteed</span>
</div>
<div class="feature-list-three">
    <span class="icon">
        <i class="bi bi-check-lg"></i>
    </span>
    <span class="feature-title">Processing customer feedback to improve cleaning.</span>
</div>
<div class="feature-list-three">
    <span class="icon">
        <i class="bi bi-check-lg"></i>
    </span>
    <span class="feature-title">Eco-friendly cleaning solutions used</span>
</div>

<p class="pt-30 fs-22">
    The act of giving gifts elevates and enriches lives by
    fostering gratitude, strengthening relationships, and spreading happiness. It
    symbolizes care, generosity, and thoughtfulness, creating lasting impressions and
    cherished memories. Through gifts, we express love, appreciation, and support,
    ultimately contributing to the well-being and fulfillment of both giver and
    receiver.
</p>

<div class="row media-content pt-30 mb-80">
    <div class="col-md-6">
        <div class="tagcloud mb-30">
            <span>Tags :</span>
            <a href="#">Clean Water , </a>
            <a href="#">Ecology ,</a>
            <a href="#">Animal Rescue</a>
        </div>
    </div>
    <div class="col-md-6 text-md-end text-center">
        <div class="social-media mb-30">
            <span>Media :</span>
            <a href="#">
                <img src="~/assets/img/icon/facebook.svg" alt="social">
            </a>
            <a href="#">
                <img src="~/assets/img/icon/twitter.svg" alt="social">
            </a>
            <a href="#">
                <img src="~/assets/img/icon/insta.svg" alt="social">
            </a>
            <a href="#">
                <img src="~/assets/img/icon/linkedin.svg" alt="social">
            </a>
        </div>
    </div>
</div>
<div class="comment-list">
    <h3 class="comment-title mb-30">Comment Reviews</h3>
    <ul class="list-unstyled p-0 m-0">
        <li>
            <div class="comment-box d-sm-flex">
                <div class="comment-avatar">
                    <img alt="author" src="~/assets/img/blog/comment-1.jpg"
                         class="avatar">
                </div>
                <div class="comment-content">
                    <div class="avatar-name mb-10">
                        <div class="name">
                            <a href="#">Esther Howard</a>
                        </div>
                        <p class="date">May 13, 2024</p>
                    </div>
                    <p>
                        Hamina Lorem Ipsum is simply dummy text of the printing and
                        typesetting industry. Lorem Ipsum has been the industry’s
                        standard dummy text ever since the 1500s.
                    </p>

                    <div class="comments-replay">
                        <a rel="nofollow" class="comment-reply-link" href="#">
                            <i class="bi bi-reply"></i> Reply
                        </a>
                    </div>

                </div>
            </div>
        </li>
        <li class="ps-md-5 ms-xxl-5">
            <div class="comment-box d-sm-flex">
                <div class="comment-avatar">
                    <img alt="author" src="~/assets/img/blog/comment-2.jpg"
                         class="avatar">
                </div>
                <div class="comment-content">

                    <div class="avatar-name mb-10">
                        <div class="name">
                            <a href="#">Kristin Watson</a>
                        </div>
                        <p class="date">May 13, 2024</p>
                    </div>
                    <p>
                        Hamina Lorem Ipsum is simply dummy text of the printing and
                        typesetting industry. Lorem Ipsum has been the industry’s
                        standard dummy text ever since the 1500s.
                    </p>

                    <div class="comments-replay">
                        <a rel="nofollow" class="comment-reply-link" href="#">
                            <i class="bi bi-reply"></i> Reply
                        </a>
                    </div>

                </div>
            </div>
        </li>
        <li>
            <div class="comment-box d-sm-flex">
                <div class="comment-avatar">
                    <img alt="author" src="~/assets/img/blog/comment-3.jpg"
                         class="avatar">
                </div>
                <div class="comment-content">

                    <div class="avatar-name mb-10">
                        <div class="name">
                            <a href="#">Eleanor Pena</a>
                        </div>
                        <p class="date">May 13, 2024</p>
                    </div>
                    <p>
                        Hamina Lorem Ipsum is simply dummy text of the printing and
                        typesetting industry. Lorem Ipsum has been the industry’s
                        standard dummy text ever since the 1500s.
                    </p>

                    <div class="comments-replay">
                        <a rel="nofollow" class="comment-reply-link" href="#">
                            <i class="bi bi-reply"></i> Reply
                        </a>
                    </div>

                </div>
            </div>
        </li>
    </ul>
</div>
<div class="comment-form mb-10 mt-65">
    <h3 class="comment-reply-title mb-10">Leave a comment</h3>
    <p class="opacity-50 mb-35">
        Your email address will not be published. Required
        fields are marked *
    </p>
    <form action="#">
        <div class="row">
            <div class="col-md-12">
                <input type="text" name="fname" placeholder="First Name">
            </div>
            <div class="col-md-12">
                <input type="email" name="email" placeholder="Email">
            </div>
            <div class="col-md-12">
                <textarea name="message" placeholder="Write Your Message"
                                                      spellcheck="false"></textarea>
            </div>
            <div class="col-md-12">
                <p class="mb-0">
                    <input type="checkbox" value="" checked>
                    Remember my name, email, and website for future comments.
                </p>
            </div>
        </div>
    </form>
    <div class="mt-50">
        <button class="ht-btn">Post Comment</button>
    </div>
</div>
</div>
</div>
<div class="col-lg-4">
    <div class="blog-sidebar mb-40 ps-xxl-4">
        <div class="widget widget-search mb-50">
            <h3 class="widget-title">Search</h3>
            <form class="search-form" action="#" method="get">
                <input type="text" placeholder="Search">
                <button class="widget-btn" type="submit">
                    <i class="bi bi-search"></i>
                </button>
            </form>
        </div>
        <div class="widget category-widget-content">
            <h3 class="widget-title">Categories</h3>
            <ul class="list-unstyled category-widget mb-0">
                <li>
                    <a href="#">Kitchen Cleaning <span class="float-end">(05)</span> </a>
                </li>
                <li>
                    <a href="#">Window Cleaning <span class="float-end">(02)</span> </a>
                </li>
                <li>
                    <a href="#">Toilet Cleaning <span class="float-end">(04)</span> </a>
                </li>
                <li>
                    <a href="#">Office Cleaning <span class="float-end">(03)</span> </a>
                </li>
                <li>
                    <a href="#">Carpet Cleaning <span class="float-end">(07)</span> </a>
                </li>
            </ul>
        </div>
        <div class="widget widget-post mt-50">
            <h3 class="widget-title">Recent Events</h3>
            <article class="recent-post mb-20">
                <a href="/blog/details">
                    <figure class="post-thumb" data-background="/assets/img/blog/post-1.jpg">
                    </figure>
                </a>
                <div class="post-content mb-2">
                    <h5 class="post-title">
                        <a href="/blog/details">
                            Pristine
                            kitchens with every
                            clean
                        </a>
                    </h5>
                    <span class="date">
                        <i class="bi bi-clock"></i> Jan 12,
                        2024
                    </span>
                </div>
            </article>
            <article class="recent-post mb-20">
                <a href="/blog/details">
                    <figure class="post-thumb" data-background="/assets/img/blog/post-2.jpg">
                    </figure>
                </a>
                <div class="post-content mb-2">
                    <h5 class="post-title">
                        <a href="/blog/details">
                            Many
                            passages
                            undergo various alterations.
                        </a>
                    </h5>
                    <span class="date">
                        <i class="bi bi-clock"></i> 01
                        Apr,2023
                    </span>
                </div>
            </article>
            <article class="recent-post">
                <a href="/blog/details">
                    <figure class="post-thumb" data-background="/assets/img/blog/blog-3.jpg">
                    </figure>
                </a>
                <div class="post-content mb-2">
                    <h5 class="post-title">
                        <a href="/blog/details">
                            Volunteering
                            supports the
                            fortunate in poverty.
                        </a>
                    </h5>
                    <span class="date">
                        <i class="bi bi-clock"></i> 18
                        Feb,2023
                    </span>
                </div>
            </article>
        </div>
        <div class="widget widget-categories-tag mt-50">
            <h3 class="widget-title">Tags</h3>
            <div class="tagcloud">
                <a href="#">Children</a>
                <a href="#">Education</a>
                <a href="#">Medical</a>
                <a href="#">Ecology</a>
                <a href="#">Water</a>
                <a href="#">Volunteer</a>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
<!--blog-details-section end-->
<!-- newsletter-section start -->
<div class="newsletter-section position-relative z-1">
    <img class="shape-1 position-absolute ml-100 mt-50 d-none d-lg-inline-block"
         src="~/assets/img/shape/shape-8.png" alt="shape">
    <div class="container">
        <div class="row align-items-center newsletter-border pt-50">
            <div class="col-lg-6">
                <div class="title-one text-lg-start text-center">
                    <h2 class="title">Subscribe to Regular Newsletters.</h2>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="subscribe-form sub-form-2 text-lg-end mb-25">
                    <input type="text" placeholder="Enter Your Mail">
                    <button type="submit">Subscribe</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- newsletter-section end -->

</main>


<!--footer-area start-->
<footer class="footer-two pt-30">
    <img class="shape-2" src="~/assets/img/shape/shape-12.png" alt="shape">
    <img class="shape-3" src="~/assets/img/shape/shape-80.png" alt="shape">
    <div class="container fot-border-2 pt-95">
        <div class="row mb-30">
            <div class="col-xl-3 col-lg-3 col-md-6">
                <div class="footer-widget ht-about-widget mb-30">
                    <div class="footer-logo">
                        <a href="/home/">
                            <img src="~/assets/img/logo/header-logo-1.svg" alt="logo">
                        </a>
                    </div>
                    <ul>
                        <li>
                            <a href="mailto:infocharity816@gmail.com">infocharity816@gmail.com</a>
                        </li>
                        <li>
                            <a href="#">+1 123 456 7890</a>
                        </li>
                    </ul>
                    <div class="social-links">
                        <a href="#">
                            <i class="bi bi-facebook"></i>
                        </a>
                        <a href="#">
                            <i class="bi bi-twitter"></i>
                        </a>
                        <a href="#">
                            <i class="bi bi-instagram"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6">
                <div class="footer-widget ms-xxl-5 mb-30">
                    <h4 class="widget-title">Company</h4>
                    <ul>
                        <li>
                            <a href="/about">About us</a>
                        </li>
                        <li>
                            <a href="/contact">Carrer</a>
                        </li>
                        <li>
                            <a href="/blog/grid">Blogs</a>
                        </li>
                        <li>
                            <a href="/about">Testimonial</a>
                        </li>
                        <li>
                            <a href="/contact">Contact us</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 d-flex justify-content-lg-center">
                <div class="footer-widget mb-30">
                    <h4 class="widget-title">Services</h4>
                    <ul>
                        <li>
                            <a href="/about">Donation onlines</a>
                        </li>
                        <li>
                            <a href="/contact">Donor centers</a>
                        </li>
                        <li>
                            <a href="/blog/grid">Volunteering</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 d-flex justify-content-lg-end">
                <div class="footer-widget mb-30">
                    <h4 class="widget-title">Donations</h4>
                    <ul>
                        <li>
                            <a href="/about">Donor wall</a>
                        </li>
                        <li>
                            <a href="/contact">Donation confirmation</a>
                        </li>
                        <li>
                            <a href="/blog/grid">Donation history</a>
                        </li>
                        <li>
                            <a href="/about">Donations details</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="copyright-wrap">
            <div class="row align-items-center">
                <div class="col-xl-6 col-lg-6">
                    <div class="copyright-text text-lg-start text-center mb-lg-0 mb-md-4">
                        © Copyright 2025
                        <a href="https://themeforest.net/user/creativegigs/portfolio">
                            Kuki
                        </a>. All
                        Rights Reserved.
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 text-xl-end text-center">
                    <ul class="footer-menu">
                        <li>
                            <a href="#">Privacy policy.</a>
                        </li>
                        <li>
                            <a href="#">Contact us.</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>