//page-title-area
.breadcrumb-wrapper {
	padding-top: 260px;
	padding-bottom: 130px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	z-index: 2;

	.shape-1,
	.shape-2 {
		position: absolute;
	}

	.shape-1 {
		left: 0;
		bottom: 40px;
		animation: float-bob-y infinite linear 8s;
	}

	.shape-2 {
		right: 0;
		bottom: 40px;
		animation: float-bob-y infinite linear 7s;
	}

	&::before {
		content: "";
		position: absolute;
		background: rgba(0, 0, 0, 0.3);
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		z-index: -1;
		opacity: 0;
	}

	.breadcrumb-title {
		color: $white;
		font-size: 72px;
		font-weight: 700;
		font-family: $garamond;
		margin-bottom: 10px;
	}

	@media #{$max-laptop} {
		.breadcrumb-title {
			font-size: 35px;
		}
	}

	@media #{$max-lg} {
		padding-top: 200px;
		padding-bottom: 80px;

		.shape-1,
		.shape-2 {
			display: none;
		}
	}

	@media #{$max-xs} {
		.page-title {
			font-size: 28px;
		}
	}
}

//breadcrumb
ul.breadcrumb-menu {
	display: inline-block;
	padding: 0;

	& li {
		display: inline-block;

		&:last-child {
			a {
				color: $white;
				margin-right: 0;
				padding-right: 0;

				&::before {
					display: none;
				}
			}
		}

		& a {
			color: $white;
			font-size: 26px;
			font-weight: 400;
			font-family: $supremeRegular;
			line-height: 1;
			display: inline-block;
			padding-right: 7px;
			margin-right: 7px;
			position: relative;
			z-index: 1;

			&::before {
				content: "";
				position: absolute;
				background: $white;
				width: 2px;
				height: 21px;
				right: -4px;
				top: 4px;
				z-index: 1;
				transform: rotate(23deg);
			}

			@media #{$max-laptop} {
				font-size: 18px;

				&::before {
					top: 0;
				}
			}
		}
	}
}