//pricing-tab-wrap
/*
.pricing-tab-wrap {
    background: $white;
    border-radius: 30px;
    padding: 20px 15px 12px 15px;
    position: relative;
    z-index: 1;
}
*/

/*
.price-tab {
    border: 0;
    border-radius: 30px;
    flex-direction: column;

    .nav-item {
        display: block;
        border: 0;
        margin-bottom: 22px;

        .nav-link {
            border: 0;
            display: block;
            width: 100%;
            background: #EBFEF9;
            padding-top: 25px;
            padding-bottom: 10px;
            padding-left: 45px;
            padding-right: 45px;
            border-radius: 15px;
            border: 1px solid $theme-color2;
            @include transition(.4s);


            &:hover,
            &.active {

                background: $theme-color;
                border-color: $theme-color;

            }
        }

        @media #{$max-lg} {
            .nav-link {
                padding-left: 5px;
                padding-right: 5px;
            }
        }

        @media #{$max-xs} {
            .nav-link {
                padding-left: 0;
                padding-right: 0;
            }
        }
    }


}
*/

/*
.ht-plan-header {
    display: flex;
    align-items: center;
    justify-content: space-between;


    .plan-title {
        font-size: 26px;
        font-weight: 500;
        font-family: $supremeMedium;

        span {
            color: $white;
            font-size: 20px;
            background: $theme-color2;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            text-align: center;
            display: inline-block;
            margin-right: 15px;
        }

    }

    .plan-price {
        font-size: 84px;

        .month {
            font-size: 28px;
        }
    }

    @media #{$max-lg} {
        padding-left: 0;
        padding-right: 0;

        .plan-price {
            font-size: 40px;
        }

        .plan-title {
            font-size: 20px;

            span {
                margin-right: 0;
            }
        }
    }
}
*/

/*
.ht-plan-body {
    background: $white;
    border-radius: 30px;
    padding: 35px 50px 40px 50px;

    .plan-feature-title {
        font-size: 30px;
        font-family: $supremeBold;
        margin-bottom: 45px;
    }

    .feature-list {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            font-size: 24px;
            font-weight: 500;
            color: $heding;
            font-family: $supremeMedium;
            display: block;
            padding-bottom: 21px;

            .check-mark {
                color: $white;
                font-size: 20px;
                display: inline-block;
                transform: translateY(2px);
                width: 25px;
                height: 25px;
                text-align: center;
                line-height: 24px;
                background: $theme-color2;
                border-radius: 50%;
                float: right;
            }

            &.price-available {
                .check-mark {
                    color: $white;
                }
            }

            &.unavailable {
                color: $body-text-color;

                .check-mark {
                    color: $body-text-color;
                    background: transparent;
                    border: 1px solid $body-text-color;
                }
            }

            @media #{$max-md} {
                font-size: 18px;

                .check-mark {
                    width: 20px;
                    height: 20px;
                    font-size: 16px;
                    line-height: 19px;
                }
            }
        }
    }

    .ht-btn {
        padding-left: 35px;
        padding-right: 30px;
        padding-top: 24px;
        padding-bottom: 24px;
        display: inline-flex;
        justify-content: space-between;
        width: 100%;
        border-radius: 40px;
        margin-top: 25px;

        &::before {
            background: $theme-color2;
        }

        img {
            @include transition(.4s);
        }

        &:hover {
            img {
                filter: invert(1);
            }
        }

    }

    @media #{$max-lg} {
        padding-left: 15px;
        padding-right: 15px;

        .plan-feature-title {
            font-size: 22px;
        }
    }

}
*/

/*
.price-section-one {
    position: relative;
    z-index: 1;

    .shape-1,
    .shape-2 {
        position: absolute;
        z-index: 1;

        @media #{$max-lg} {}
    }

    .shape-1 {
        top: 74px;
        left: 138px;
        animation: float-bob-y infinite linear 5s;
    }

    .shape-2 {
        top: 158px;
        right: 88px;
        animation: float-bob-y infinite linear 8s;
    }

}
*/
