/*title-one*/
.title-one {
    .sub-title {
        color: rgba(247, 79, 34, 0.8);
        font-size: 18px;
        font-weight: 400;
        font-family: $supremeRegular;
        text-transform: uppercase;
        margin-bottom: 18px;
    }

    .title {
        font-size: 72px;
        line-height: 1.06;
        font-family: $garamond;
        font-weight: 600;
        margin-bottom: 30px;

        span {
            display: inline-block;
            z-index: 1;
        }

        .title-img {
            position: absolute;
            right: -64px;
            top: -26px;
            z-index: 1;
        }

        .title-img-2 {
            position: absolute;
            top: -54px;
        }
    }

    p {
        font-size: 24px;
        line-height: 40px;
    }

    @media #{$max-xl} {

        .title-img,
        .title-img-2 {
            display: none;
        }
    }


    @media #{$max-laptop} {
        .title {
            font-size: 55px;
        }

        p {
            font-size: 18px;
            line-height: 34px;
        }

    }

    @media #{$max-lg} {
        .title {
            font-size: 45px;
        }

        p {
            font-size: 18px;
            line-height: 34px;
        }

    }

    @media #{$max-md} {
        .title {
            font-size: 32px;
        }
    }
}

/*title-two*/
.title-two {
    .sub-title {
        color: rgba(247, 79, 34, 0.8);
        font-size: 18px;
        font-weight: 400;
        font-family: $supremeRegular;
        text-transform: uppercase;
        margin-bottom: 18px;
        display: inline-block;
        position: relative;
        z-index: 1;

        &::before {
            content: '';
            position: absolute;
            background: rgba(247, 79, 34, 0.8);
            width: 20px;
            height: 1.5px;
            right: -31px;
            top: 11px;
            z-index: 1;
        }
    }

    .title {
        font-size: 72px;
        line-height: 1.06;
        font-family: $garamond;
        font-weight: 600;
        margin-bottom: 30px;

        span {
            display: inline-block;
            z-index: 1;
        }

        .title-img {
            position: absolute;
            right: -69%;
            top: -101%;
            z-index: 1;
        }
    }

    p {
        font-size: 24px;
        line-height: 40px;
    }

    @media #{$max-xl} {
        .title-img {
            display: none;
        }
    }


    @media #{$max-laptop} {
        .title {
            font-size: 55px;
        }

        p {
            font-size: 18px;
            line-height: 34px;
        }

    }

    @media #{$max-lg} {
        .title {
            font-size: 45px;

            .title-img {
                display: none;
            }
        }

        p {
            font-size: 18px;
            line-height: 34px;
        }

    }

    @media #{$max-md} {
        .title {
            font-size: 32px;
        }
    }
}


/*title-three*/
.title-three {
    .sub-title {
        color: rgba(247, 79, 34, 0.8);
        font-size: 18px;
        font-weight: 400;
        font-family: $supremeRegular;
        text-transform: uppercase;
        margin-bottom: 18px;
        display: inline-block;
        position: relative;
        z-index: 1;

        &::before {
            content: '';
            position: absolute;
            background: rgba(247, 79, 34, 0.8);
            width: 20px;
            height: 1.5px;
            right: -31px;
            top: 11px;
            z-index: 1;
        }
    }

    .title {
        font-size: 72px;
        line-height: 1.06;
        font-family: $garamond;
        font-weight: 600;
        margin-bottom: 30px;

        span {
            display: inline-block;
            z-index: 1;
        }

        .title-img {
            position: absolute;
            left: -50%;
            top: -120%;
            z-index: 1;
        }
    }

    p {
        font-size: 24px;
        line-height: 40px;
    }

    @media #{$max-xl} {
        .title-img {
            display: none;
        }
    }


    @media #{$max-laptop} {
        .title {
            font-size: 55px;
        }

        p {
            font-size: 18px;
            line-height: 34px;
        }
    }

    @media #{$max-lg} {
        .title {
            font-size: 45px;

            .title-img {
                display: none;
            }
        }

        p {
            font-size: 18px;
            line-height: 34px;
        }

    }

    @media #{$max-md} {
        .title {
            font-size: 32px;
        }
    }
}


/*title-four*/
/*
.title-four {
    .sub-title {
        color: rgba(247, 79, 34, 0.8);
        font-size: 18px;
        font-weight: 400;
        font-family: $supremeRegular;
        text-transform: capitalize;
        margin-bottom: 18px;
        display: inline-block;
    }

    .title {
        font-size: 60px;
        line-height: 1.06;
        font-family: $panchangBold;
        font-weight: 700;
        margin-bottom: 30px;

        span {
            display: inline-block;
            z-index: 1;
        }

        .title-img {
            position: absolute;
            left: -50%;
            top: -120%;
            z-index: 1;
        }
    }

    p {
        font-size: 24px;
        line-height: 40px;
    }

    @media #{$max-xl} {
        .title-img {
            display: none;
        }
    }


    @media #{$max-laptop} {
        .title {
            font-size: 55px;
        }

        p {
            font-size: 18px;
            line-height: 34px;
        }
    }

    @media #{$max-lg} {
        .title {
            font-size: 45px;

            .title-img {
                display: none;
            }
        }

        p {
            font-size: 18px;
            line-height: 34px;
        }

    }

    @media #{$max-md} {
        .title {
            font-size: 32px;
        }
    }
}
*/

/*title-five*/
.title-five {
    .sub-title {
        color: rgba(247, 79, 34, 0.8);
        font-size: 18px;
        font-weight: 400;
        font-family: $supremeRegular;
        text-transform: capitalize;
        margin-bottom: 18px;
        display: inline-block;
    }

    .title {
        font-size: 56px;
        line-height: 1.06;
        font-family: $panchangBold;
        font-weight: 700;
        margin-bottom: 30px;
        letter-spacing: -1px;

        span {
            display: inline-block;
            z-index: 1;
        }

        .title-img {
            position: absolute;
            left: -50%;
            top: -120%;
            z-index: 1;
        }
    }

    p {
        font-size: 24px;
        line-height: 40px;
    }

    @media #{$max-xl} {
        .title-img {
            display: none;
        }
    }


    @media #{$max-laptop} {
        .title {
            font-size: 55px;
        }

        p {
            font-size: 18px;
            line-height: 34px;
        }
    }

    @media #{$max-lg} {
        .title {
            font-size: 45px;

            .title-img {
                display: none;
            }
        }

        p {
            font-size: 18px;
            line-height: 34px;
        }

    }

    @media #{$max-md} {
        .title {
            font-size: 32px;
        }
    }
}


/*title-six*/
/*
.title-six {
    .sub-title {
        color: rgba(0, 0, 0, 0.5);
        font-size: 18px;
        font-weight: 400;
        font-family: $supremeRegular;
        text-transform: uppercase;
        margin-bottom: 18px;
    }

    .title {
        font-size: 72px;
        line-height: 1.06;
        font-family: $garamond;
        font-weight: 600;
        margin-bottom: 30px;
    }

    p {
        font-size: 24px;
        line-height: 40px;
    }


    @media #{$max-laptop} {
        .title {
            font-size: 55px;
        }

        p {
            font-size: 18px;
            line-height: 34px;
        }

    }

    @media #{$max-lg} {
        .title {
            font-size: 45px;
        }

        p {
            font-size: 18px;
            line-height: 34px;
        }

    }

    @media #{$max-md} {
        .title {
            font-size: 32px;
        }
    }
}
*/

/*title-seven*/
/*
.title-seven {
    .sub-title {
        color: rgba(247, 79, 34, 0.8);
        font-size: 18px;
        font-weight: 400;
        font-family: $supremeRegular;
        text-transform: uppercase;
        margin-bottom: 18px;
    }

    .title {
        font-size: 80px;
        line-height: 1.06;
        font-family: $garamond;
        font-weight: 600;
        margin-bottom: 30px;

    }

    p {
        font-size: 24px;
        line-height: 40px;
    }

    @media #{$max-xl} {
        .title-img {
            display: none;
        }
    }


    @media #{$max-laptop} {
        .title {
            font-size: 55px;
        }

        p {
            font-size: 18px;
            line-height: 34px;
        }

    }

    @media #{$max-lg} {
        .title {
            font-size: 45px;
        }

        p {
            font-size: 18px;
            line-height: 34px;
        }

    }

    @media #{$max-md} {
        .title {
            font-size: 32px;
        }
    }
}
*/


//cta-title
/*
.cta-title {
    font-size: 48px;
    font-weight: 700;
    font-family: $panchangBold;
    line-height: 1.1;

    @media #{$max-laptop} {
        font-size: 55px;
    }

    @media #{$max-md} {
        font-size: 32px;
    }
}
*/

.contact-title {
    color: $heding;
    font-size: 50px;
    font-family: $supremeMedium;
    font-weight: 500;

    @media #{$max-lg} {
        font-size: 32px;
    }

    @media #{$max-xs} {
        font-size: 24px;
    }
}

.semi-title {
    font-size: 60px;
    font-weight: 600;
    font-family: $garamond;

    @media #{$max-laptop} {
        font-size: 36px;
    }

    @media #{$max-lg} {
        font-size: 28px;
    }

}

/*
.fact-title {
    font-size: 70px;
    line-height: 1.13;
    font-style: italic;
    font-family: $supremeItalic;
    font-weight: 700;

    @media #{$max-laptop} {
        font-size: 55px;
    }

    @media #{$max-lg} {
        font-size: 35px;
    }
}
*/
