@{
    ViewBag.Title = "details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<header class="theme-main-menu theme-menu-two">
    <div class="main-header-area pt-25 pb-15">
        <div class="container-fluid">
            <div class="row align-items-center justify-content-between">
                <div class="col-md-auto col-6">
                    <div class="logo-area">
                        <a class="logo" href="/home/">
                            <img src="~/assets/img/logo/header-logo-2.svg"
                                 alt="Header-logo">
                        </a>
                        <a class="sticky-logo" href="/home/">
                            <img src="~/assets/img/logo/header-logo-1.svg"
                                 alt="Header-logo">
                        </a>
                    </div>
                </div>
                <div class="col-md-auto d-lg-inline-flex align-items-center justify-content-center d-none">
                    <div class="main-menu">
                        <nav id="mobile-menu">
                            <ul class="menu-list">
                                <li>
                                    <a href="#">
                                        Home
                                    </a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a href="/home/">Home Style 1</a>
                                        </li>
                                        <li>
                                            <a href="/home/index2">Home Style 2</a>
                                        </li>
                                        <li>
                                            <a href="/home/index3">Home Style 3</a>
                                        </li>
                                        <li>
                                            <a href="/home/index4">Home Style 4</a>
                                        </li>

                                        <li>
                                            <a href="/home/index5">Home Style 5</a>
                                        </li>
                                        <li>
                                            <a href="/home/index6">Home Style 6</a>
                                        </li>
                                        <li>
                                            <a href="/home/index7">Home Style 7</a>
                                        </li>

                                    </ul>
                                </li>
                                <li>
                                    <a href="#">
                                        Pages
                                    </a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a href="/about">About Us</a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                Services
                                                <span class="float-end">
                                                    <i class="bi bi-chevron-down"></i>
                                                </span>
                                            </a>
                                            <ul class="sub-menu">
                                                <li>
                                                    <a href="/services">Services V1</a>
                                                </li>
                                                <li>
                                                    <a href="/services/v2">Services V2</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">
                                                Event
                                                <span class="float-end">
                                                    <i class="bi bi-chevron-down"></i>
                                                </span>
                                            </a>
                                            <ul class="sub-menu">
                                                <li>
                                                    <a href="/event/grid">Event Grid</a>
                                                </li>
                                                <li>
                                                    <a href="/event/list">Event List</a>
                                                </li>
                                                <li>
                                                    <a href="/event/details">Event Details</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">
                                                Volunteer
                                                <span class="float-end">
                                                    <i class="bi bi-chevron-down"></i>
                                                </span>
                                            </a>
                                            <ul class="sub-menu">
                                                <li>
                                                    <a href="/team/v1">Volunteer V1</a>
                                                </li>
                                                <li>
                                                    <a href="/team/v2">Volunteer V2</a>
                                                </li>
                                                <li>
                                                    <a href="/team/details">Volunteer Details</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="/contact/v2">Contact V2</a>
                                        </li>
                                        <li>
                                            <a href="/error">Error - 404</a>
                                        </li>
                                        <li>
                                            <a href="/faq">FAQ</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Causes</a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a href="/causes/grid">Causes Grid</a>
                                        </li>
                                        <li>
                                            <a href="/causes/list">Causes List</a>
                                        </li>
                                        <li>
                                            <a href="/causes/details">Causes Details</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Blog</a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a href="/blog/grid">Blog Grid</a>
                                        </li>
                                        <li>
                                            <a href="/blog/classic">Blog Classic</a>
                                        </li>
                                        <li>
                                            <a href="/blog/details">Blog Details</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="/contact">Contact</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-md-auto col-6">
                    <div class="right-nav d-flex align-items-center justify-content-end">
                        <div class="quote-btn d-lg-inline-block d-none">
                            <a href="/contact" class="ht-btn bs-btn">Donate Now</a>
                        </div>
                        <div class="hamburger-menu d-lg-none d-inline-flex">
                            <div class="open-sidebar">
                                <div class="bar-wrap">
                                    <div class="bar-1"></div>
                                    <div class="bar-2"></div>
                                    <div class="bar-3"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.theme-main-menu -->
</header>
<!-- header-area end -->
<!-- slide-bar start -->
<div class="ht-menu-wrapper">
    <div class="ht-menu-area">
        <button class="ht-menu-toggle">
            <i class="bi bi-x-lg"></i>
        </button>
        <div class="mobile-logo">
            <a href="/home/">
                <img src="~/assets/img/logo/header-logo-2.svg" alt="logo">
            </a>
        </div>
        <div class="mobile-menu-wrapper d-lg-none d-inline-block">
            <div class="mobile-menu"></div>
        </div>
        <div class="offset-widget mb-40">
            <div class="info-widget">
                <h4 class="offset-title mb-20">About Us</h4>
                <p class="mb-30">
                    But I must explain to you how all this mistaken idea of denouncing pleasure and
                    praising pain was born and will give you a complete account of the system and
                    expound the actual teachings of the great explore
                </p>
            </div>
        </div>
        <div class="offset-widget mb-30 pr-10">
            <div class="info-widget info-widget2">
                <h4 class="offset-title mb-20">Contact Info</h4>
                <p>
                    <i class="fal fa-address-book"></i>
                    23/A, Miranda City Likaoli Prikano, Dope
                </p>
                <p>
                    <i class="fal fa-phone"></i>
                    +0989 7876 9865 9
                </p>
                <p>
                    <i class="fal fa-envelope-open"></i>
                    info@example.com
                </p>
            </div>
        </div>
        <div class="login-btn text-center">
            <a class="ht-btn style-5" href="#">Login</a>
        </div>

    </div>
</div>
<!-- side-bar end -->


<main>

<!-- page-title-area start -->
<div class="page-title-area">
        <div class="breadcrumb-wrapper" data-background="/assets/img/page-title/numbers-1800x540.jpg">
        <img class="shape-1" src="~/assets/img/shape/shape-81.png" alt="shape">
        <img class="shape-2" src="~/assets/img/shape/shape-82.png" alt="shape">
        <div class="container">
            <div class="breadcrumb-content text-center">
                <h2 class="breadcrumb-title">Event Details</h2>
                <ul class="breadcrumb-menu">
                    <li>
                        <a href="/home/">Home</a>
                    </li>
                    <li>
                        <a href="#">Pages</a>
                    </li>
                    <li>
                        <a href="#">Event Details</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- page-title-area end -->
<!-- event-section start -->
<section class="event-section pt-180 pb-120 pt-lg-100 pb-lg-10">
    <div class="container">
        <div class="event-details-content mb-40">
            <h2 class="event-main-title mb-25">
                Explore a range healthcare services designed to cater
                to your
                requirements.
            </h2>
            <p class="description">
                Embark on a journey through a diverse selection of healthcare
                services
                meticulously crafted to address your specific needs preferences, ensuring that
                you receive personalized care and support tailored to enhance your overall
                well-being and meet your unique
                requirements with precision and compassion.
            </p>
            <div class="event-thumb mb-50 mt-50">
                <img class="w-100" src="~/assets/img/event/event-details-1320x743.jpg" alt="event">
                <div class="event-date">20 <span>feb</span></div>
                <div class="event-place">
                    1901 Thornridge Cir. Shiloh, Hawaii 81063
                </div>
            </div>
            <div class="event-content">
                <div class="row">
                    <div class="col-lg-8">
                        <ul class="event-details-info d-md-flex flex-wrap justify-content-between">
                            <li>
                                <h4 class="info-title">Details</h4>
                            </li>
                            <li>
                                <div class="info-label">Date:</div>
                                <p class="info">20 feb, 2025</p>
                            </li>
                            <li>
                                <div class="info-label">Time:</div>
                                <p class="info">8:00am - 8:00pm</p>
                            </li>
                            <li>
                                <div class="info-label">Website:</div>
                                <p class="info">www.mahmudin.com</p>
                            </li>
                        </ul>
                        <ul class="event-details-info d-md-flex flex-wrap justify-content-between border-top-0">
                            <li>
                                <h4 class="info-title">Organizer</h4>
                            </li>
                            <li>
                                <div class="info-label">Name:</div>
                                <p class="info">Arlene McCoy</p>
                            </li>
                            <li>
                                <div class="info-label">Phone:</div>
                                <p class="info">(208) 555-0112</p>
                            </li>
                            <li>
                                <div class="info-label">Email:</div>
                                <p class="info">arlenemcCoy@gmail.com</p>
                            </li>
                        </ul>
                        <h3 class="event-title mt-55">
                            <a href="/event/details">Overview</a>
                        </h3>
                        <p class="description">
                            Explore a diverse range of healthcare services
                            tailored to meet your unique needs and preferences, providing
                            personalized care and support to enhance your
                            well-being with compassion and precision.
                        </p>
                        <p class="description">
                            and support tailored to enhance your overall
                            well-being and meet your unique
                            requirements with precision and compassion.
                        </p>
                    </div>
                    <div class="col-lg-4">
                        <div class="event-sidebar mb-40">
                            <div class="widget widget-post">
                                <h3 class="widget-title">Recent Events</h3>
                                <article class="recent-post mb-20">
                                    <a href="/blog/details">
                                        <figure class="post-thumb"
                                                    data-background="/assets/img/blog/event1-100x84.jpg">
                                        </figure>
                                    </a>
                                    <div class="post-content mb-2">
                                        <h5 class="post-title">
                                            <a href="/blog/details">
                                                Pristine
                                                kitchens with every
                                                clean
                                            </a>
                                        </h5>
                                        <span class="date">
                                            <i class="bi bi-clock"></i> Jan 12,
                                            2024
                                        </span>
                                    </div>
                                </article>
                                <article class="recent-post mb-20">
                                    <a href="/blog/details">
                                        <figure class="post-thumb"
                                                    data-background="/assets/img/blog/event2-100x84.jpg">
                                        </figure>
                                    </a>
                                    <div class="post-content mb-2">
                                        <h5 class="post-title">
                                            <a href="/blog/details">
                                                Many
                                                passages
                                                undergo various alterations.
                                            </a>
                                        </h5>
                                        <span class="date">
                                            <i class="bi bi-clock"></i> 01
                                            Apr,2023
                                        </span>
                                    </div>
                                </article>
                                <article class="recent-post">
                                    <a href="/blog/details">
                                        <figure class="post-thumb"
                                                    data-background="/assets/img/blog/event3-425x500.jpg">
                                        </figure>
                                    </a>
                                    <div class="post-content mb-2">
                                        <h5 class="post-title">
                                            <a href="/blog/details">
                                                Volunteering
                                                supports the
                                                fortunate in poverty.
                                            </a>
                                        </h5>
                                        <span class="date">
                                            <i class="bi bi-clock"></i> 18
                                            Feb,2023
                                        </span>
                                    </div>
                                </article>
                            </div>
                            <div class="widget widget-categories-tag mt-50">
                                <h3 class="widget-title">Tags</h3>
                                <div class="tagcloud">
                                    <a href="#">Children</a>
                                    <a href="#">Education</a>
                                    <a href="#">Medical</a>
                                    <a href="#">Ecology</a>
                                    <a href="#">Water</a>
                                    <a href="#">Volunteer</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- event-section end -->
<!-- event-section start -->
<section class="event-section pt-140 pb-95 pt-lg-60 pb-lg-15" data-bg-color="#FDF3F0">
    <div class="container">
        <div class="row align-items-center justify-content-center mb-20">
            <div class="col-lg-8 col-md-6">
                <div class="title-one text-md-start text-center mb-30">
                    <h2 class="title">
                        Similar
                        <span class="position-relative">
                            Event
                            <img class="title-img-2"
                                 src="~/assets/img/shape/shape-7.png" alt="shape">
                        </span>
                    </h2>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="arrow-style-1 text-md-end text-center mb-30">
                    <button data-slick-prev="#arrow-12" class="slick-prev">
                        <img src="~/assets/img/icon/arrow-left-1.svg" alt="arrow">
                    </button>
                    <button data-slick-next="#arrow-12" class="slick-next">
                        <img src="~/assets/img/icon/arrow-right-1.svg" alt="arrow">
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div id="arrow-12" class="row ht-carousel" data-slide-show="2" data-ml-slide-show="2"
             data-lg-slide-show="2" data-md-slide-show="2" data-sm-slide-show="1">
            <div class="col-md-6">
                <div class="event-wrap-1 mb-60">
                    <div class="event-thumb">
                        <img src="~/assets/img/event/event1-630x450.jpg" alt="event">
                        <div class="event-date">20 <span>feb</span></div>
                    </div>
                    <div class="event-content">
                        <div class="event-meta">
                            <a href="#"><i class="bi bi-clock"></i> 8:00 am - 8:00pm</a>
                            <a href="#">
                                <i class="bi bi-geo-alt"></i> 1901 Thornridge Cir. Shiloh, Hawaii
                                81063
                            </a>
                        </div>
                        <h3 class="event-title">
                            <a href="/event/details">
                                Support children's
                                education for a better life your donation inspires hope.
                            </a>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="event-wrap-1 mb-60">
                    <div class="event-thumb">
                        <img src="~/assets/img/event/event3-630x450.jpg" alt="event">
                        <div class="event-date">20 <span>feb</span></div>
                    </div>
                    <div class="event-content">
                        <div class="event-meta">
                            <a href="#"><i class="bi bi-clock"></i> 8:00 am - 8:00pm</a>
                            <a href="#">
                                <i class="bi bi-geo-alt"></i> 1901 Thornridge Cir. Shiloh, Hawaii
                                81063
                            </a>
                        </div>
                        <h3 class="event-title">
                            <a href="/event/details">
                                Here, find a variety of
                                healthcare services to meet your needs.
                            </a>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="event-wrap-1 mb-60">
                    <div class="event-thumb">
                        <img src="~/assets/img/event/event4-630x450.jpg" alt="event">
                        <div class="event-date">20 <span>feb</span></div>
                    </div>
                    <div class="event-content">
                        <div class="event-meta">
                            <a href="#"><i class="bi bi-clock"></i> 8:00 am - 8:00pm</a>
                            <a href="#">
                                <i class="bi bi-geo-alt"></i> 1901 Thornridge Cir. Shiloh, Hawaii
                                81063
                            </a>
                        </div>
                        <h3 class="event-title">
                            <a href="/event/details">
                                Volunteering to aid the less
                                fortunate in impoverished communities.
                            </a>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="event-wrap-1 mb-60">
                    <div class="event-thumb">
                        <img src="~/assets/img/event/event2-630x450.jpg" alt="event">
                        <div class="event-date">20 <span>feb</span></div>
                    </div>
                    <div class="event-content">
                        <div class="event-meta">
                            <a href="#"><i class="bi bi-clock"></i> 8:00 am - 8:00pm</a>
                            <a href="#">
                                <i class="bi bi-geo-alt"></i> 1901 Thornridge Cir. Shiloh, Hawaii
                                81063
                            </a>
                        </div>
                        <h3 class="event-title">
                            <a href="/event/details">
                                Support children's
                                education for a better life your donation inspires hope.
                            </a>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- event-section end -->
<!-- newsletter-section start -->
<div class="newsletter-section position-relative z-1 pt-180 pt-lg-60">
    <img class="shape-1 position-absolute ml-100 mt-50 d-none d-lg-inline-block"
         src="~/assets/img/shape/shape-8.png" alt="shape">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="title-one text-lg-start text-center">
                    <h2 class="title">Subscribe to Regular Newsletters.</h2>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="subscribe-form sub-form-2 text-lg-end mb-25">
                    <input type="text" placeholder="Enter Your Mail">
                    <button type="submit">Subscribe</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- newsletter-section end -->

</main>


<!--footer-area start-->
<footer class="footer-two pt-30">
    <img class="shape-2" src="~/assets/img/shape/shape-12.png" alt="shape">
    <img class="shape-3" src="~/assets/img/shape/shape-80.png" alt="shape">
    <div class="container fot-border-2 pt-95">
        <div class="row mb-30">
            <div class="col-xl-3 col-lg-3 col-md-6">
                <div class="footer-widget ht-about-widget mb-30">
                    <div class="footer-logo">
                        <a href="/home/">
                            <img src="~/assets/img/logo/header-logo-1.svg" alt="logo">
                        </a>
                    </div>
                    <ul>
                        <li>
                            <a href="mailto:infocharity816@gmail.com">infocharity816@gmail.com</a>
                        </li>
                        <li>
                            <a href="#">+1 123 456 7890</a>
                        </li>
                    </ul>
                    <div class="social-links">
                        <a href="#">
                            <i class="bi bi-facebook"></i>
                        </a>
                        <a href="#">
                            <i class="bi bi-twitter"></i>
                        </a>
                        <a href="#">
                            <i class="bi bi-instagram"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6">
                <div class="footer-widget ms-xxl-5 mb-30">
                    <h4 class="widget-title">Company</h4>
                    <ul>
                        <li>
                            <a href="/about">About us</a>
                        </li>
                        <li>
                            <a href="/contact">Carrer</a>
                        </li>
                        <li>
                            <a href="/blog/grid">Blogs</a>
                        </li>
                        <li>
                            <a href="/about">Testimonial</a>
                        </li>
                        <li>
                            <a href="/contact">Contact us</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 d-flex justify-content-lg-center">
                <div class="footer-widget mb-30">
                    <h4 class="widget-title">Services</h4>
                    <ul>
                        <li>
                            <a href="/about">Donation onlines</a>
                        </li>
                        <li>
                            <a href="/contact">Donor centers</a>
                        </li>
                        <li>
                            <a href="/blog/grid">Volunteering</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 d-flex justify-content-lg-end">
                <div class="footer-widget mb-30">
                    <h4 class="widget-title">Donations</h4>
                    <ul>
                        <li>
                            <a href="/about">Donor wall</a>
                        </li>
                        <li>
                            <a href="/contact">Donation confirmation</a>
                        </li>
                        <li>
                            <a href="/blog/grid">Donation history</a>
                        </li>
                        <li>
                            <a href="/about">Donations details</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="copyright-wrap">
            <div class="row align-items-center">
                <div class="col-xl-6 col-lg-6">
                    <div class="copyright-text text-lg-start text-center mb-lg-0 mb-md-4">
                        © Copyright 2025
                        <a href="https://themeforest.net/user/creativegigs/portfolio">
                            Kuki
                        </a>. All
                        Rights Reserved.
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 text-xl-end text-center">
                    <ul class="footer-menu">
                        <li>
                            <a href="#">Privacy policy.</a>
                        </li>
                        <li>
                            <a href="#">Contact us.</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>